@theme default {
    primary: #bb0b0b;
    primaryText: #fff;
    primarySubText: #ccc;

    secondary: #13171c;
    secondaryText: #fff;

    body: #fff;
    bodyBg: #fff;
    bodyText: #0a0a0a;
    bodySecondaryText: #666;

    third: #ebebeb;
    thirdText: #333;

    hover: #404040;
    hoverText: white;

    active: #454545;
    activeText: white;

    dialog: #000;
    dialogText: #fff;

    button: #bb0b0b;
    buttonText: #fff;
    buttonBorder: #bb0b0b;
    buttonHoverText:  white;
    buttonHover: #c43434;

    linkText: #0a0a0a;
    linkHoverText: #bb0b0b;

    shadow: rgba(0, 0, 0, .25);
    disable: #ababaa;

    input: #fff;
    inputTextIcon: white;
    inputText: #333;
    inputLabel: #929292;
    inputBorder: #ced4da;
    inputFocusBorder: #bb0b0b;
    inputFocusShadow: 0 0 0 0.25rem rgb(#bb0b0b, .5);

    nav: white;
    navText: #b5b6b7;
    navActiveText: #04b4e0;
    navPop: #04b4e0;
    navPopText: white;

    titleText: #333;
    titleStrongText: #bb0b0b;

    copyright: #000;
    copyrightText: #fff;

    icon: #bb0b0b;

    tag: #04b4e0;
    tagText: #fff;
}
@theme dark {
    primary: #2e2e2e;
    primaryText: #eee;
    primarySubText: #ccc;
    
    secondary: #333;
    secondaryText: white;

    third: #666;
    thirdText: #eee;

    body: #333;
    bodyBg: url(../images/bg.jpg) #333;
    bodyText: white;
    bodySecondaryText: #929292;

    hover: #404040;
    hoverText: white;

    active: #454545;
    activeText: white;

    dialog: #3b3b3b;
    dialogText: white;

    button: transparent;
    buttonText: #929292;
    buttonBorder: #6B6B6B;
    buttonHoverText: white;
    buttonHover: #404040;

    linkText: #43a1e1;
    linkHoverText: #43a1e1;

    shadow: rgba(255, 255, 255, .25);
    disable: #ababaa;

    input: #2b2b2b;
    inputTextIcon: white;
    inputText: white;
    inputLabel: #929292;
    inputBorder: #6B6B6B;
    inputFocusBorder: #808080;
    inputFocusShadow: 0 0 0 1px #808080 inset;

    nav: #2e2e2e;
    navText: #929292;
    navActiveText: white;
    navPop: #404040;
    navPopText: white;

    titleText: #929292;
    titleStrongText: white;

    copyright: #404040;
    copyrightText: #929292;

    icon: #929292;

    tag: #404040;
    tagText: #929292;
}