@media only screen and (min-width: 62rem) {
    .top-bar {
        .navbar-icon {
            display: none;
        }
    }
    .navbar {
        display: block;
        padding: 0;
        .container-fluid {
            display: block;
        }
        .navbar-next-bar {
            display: flex;
        }
    }
    .navbar-main {
        display: block;
        margin-bottom: 0;
        li {
            display: inline-block;
            position: relative;
            a {
                color: #ccc;
                padding: .6rem 1rem;
                display: inline-block;
            }
            &.active {
                &::after {
                    position: absolute;
                    bottom: -.3rem;
                    left: 50%;
                    margin-left: -.75rem;
                    border: .6rem solid transparent;
                    border-bottom-color:  var(--#{$prefix}-secondary);
                    content: " ";
                    display: block;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    .navbar-next-bar {
        background-color: var(--#{$prefix}-secondary);
        display: flex;
        a {
            color: var(--#{$prefix}-secondary-text);
        }
        .navbar-next {
            flex: 1;
        }
        .search-inline {
            width: 10rem;
        }
    }
    .navbar-next {
        li {
            display: inline-block;
            position: relative;
            padding: .5rem 1rem;
            &:hover {
                background-color: #aaa;
                .nav-sub {
                    display: block;
                }
            }
        }
    }
    .nav-sub {
        position: absolute;
        display: none;
        background-color: var(--#{$prefix}-body);
        color: var(--#{$prefix}-body-text);
        box-shadow: 0 0 20px var(--#{$prefix}-shadow);
        width: 8rem;
        left: 0;
        z-index: 99;
        ul {
            display: block;
            li {
                padding: .5rem 0;
                text-align: center;
                display: block;
                a {
                    padding: 0;
                } 
            }
            .divider {
                height: .1rem;
                background-color: #ccc;
                padding: 0;
            }
        }
    }
    .floor-header {
        &::after {
            left: .8rem;
            top: .8rem;
        }
    }
    .sort-bar {
        display: flex;
    }
}