@@ 小说列表

<article class="post-item">
    <div class="item-header">
        <h2 class="item-title">
            <a href="../detail.html">Title</a>
        </h2>
        <div class="item-tag-bar">
            <div>
                <a href="" class="tag-item-block">Category</a>
                <a href="">
                    <i class="fa fa-clock"></i>
                    Aug 06, 2018
                </a>
            </div>
            <div>
                <a href="">
                    <i class="fa fa-eye"></i>
                    16 Views
                </a>
                <a href="">
                    <i class="fa fa-comments"></i>
                    16 Comments
                </a>
                @share
            </div>
        </div>
    </div>
    <div class="item-body">
        <div class="itme-thumb">
            <a href="../detail.html">
                <img src="https://zodream.cn/assets/images/site.jpg" alt="">
            </a>
        </div>
        <div class="item-meta">
            <p>
                Let's go to ...
            </p>

        </div>
        <div class="item-more">
            <a href="../detail.html">Continue Reading ...</a>
        </div>
    </div>
</article>