@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @=title
        -新闻</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <div class="container">
        <div class="app-wrapper">
            <div class="sidebar-container">
                <div class="nav-toggle-arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="nav-dialog-mask"></div>
                <header class="header nav-panel">
                    <div class="nav-brand">
                        <h1>ZoDream</h1>
                        <p>= Simgle blog =</p>
                    </div>
                    <ul class="nav-bar">
                        <li>
                            <a href="">大数据</a>
                        </li>
                        <li>
                            <a href="">推荐算法</a>
                            <ul class="nav-sub-bar">
                                <li>
                                    <a href="">大数据</a>
                                </li>
                                <li>
                                    <a href="">人工智能</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">人工智能</a>
                        </li>
                        <li>
                            <a href="">无人作业</a>
                        </li>
                    </ul>
                    <div class="social-bar">
                        <a href="">
                            <i class="fa fa-rss"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#" class="search-toggle-arrow">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                    <form class="search-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="搜索">
                    </form>
                    <div class="copyright">
                        <p>
                            Copyright ©zodream.cn, All Rights Reserved.
                        </p>
                    </div>
                </header>
            </div>
            <div class="main-container">
                @... 如果其他页面使用页面，则把其他页面当作内容替换此处

                <footer class="footer">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-header">
                                    <span>About Us</span>
                                </div>
                                <div class="panel-body">
                                    I AM 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-header">
                                    <span>Contact Us</span>
                                </div>
                                <div class="panel-body">
                                    <p>Tel: +13233</p>
                                    <p>Tel: +13233</p>
                                    <p>Tel: +13233</p>
                                    <p>Tel: +13233</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-header">
                                    <span>Friend Links</span>
                                </div>
                                <div class="panel-body">
                                    <p><a href="">zodream.cn</a></p>
                                    <p><a href="">zodream.cn</a></p>
                                    <p><a href="">zodream.cn</a></p>
                                    <p><a href="">zodream.cn</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        Copyright ©zodream.cn, All Rights Reserved.
                    </div>
                </footer>
            </div>
        </div>
    </div>





    @theme-bar 主题切换工具栏
    <script src="../js/jquery.min.js"></script>
    <script src="../js/js.cookie.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/animate.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>