@@ 帖子列表
<div class="post-item 
@~table-success@@table-primary@@table-danger@@table-light@@table-warning@@
">
    <div class="item-part-primary">
        <div class="item-topic">
            <h3 class="item-title">
                Welcome New Users! Please read this before posting!
            </h3>
            <p class="item-meta">
                Congratulations, you have found the Community! Before you make a new topic or post, please read community guidelines.
            </p>
            <div class="item-tag-bar tag-bar">
                <a href="">selfie</a>
                <a href="" class="btn-success">selfie</a>
                <a href="" class="btn-primary">selfie</a>
            </div>
        </div>
        <div class="item-category">
            <a href="" class="cat-dot-item">
                <i class="dot"></i>
                Politics
            </a>
        </div>
    </div>
    <div class="item-part-secondary">
        <div class="item-user">
            <a href="" class="user-control-icon">
                Z
            </a>
            <a href="" class="user-control-icon">
                <img src="../images/favicon.png" alt="">
            </a>
        </div>
        <div class="item-reply">66</div>
        <div class="item-view">15k</div>
        <div class="item-time">1d</div>
    </div>
</div>