@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @=title
        -Topic</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="header-nav-logo" href="../index.html">
                ZODREAM
            </a>
            <div class="search-bar">
                <form class="search-input-container">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search all forums">
                </form>
                <div class="dropdown-container">
                    <div class="dropdown-control with-control-icon">
                        Topics
                    </div>
                    <div class="dropdown-popup select-container">
                        <div class="option-item">
                            <input type="checkbox" name="" id="">
                            Search Titles Only
                        </div>
                        <div class="option-item">
                            <input type="checkbox" name="" id="">
                            Show Results as Posts
                        </div>
                        <div class="option-item">
                            <i class="fa fa-search"></i>
                            Advanced Search
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown-container">
                <div class="dropdown-control">
                    Latest Topics
                    <i class="fa fa-bars"></i>
                </div>
                <div class="dropdown-popup">
                    <div class="row group-container">
                        <a class="col-6" href="../create.html">New</a>
                        <a class="col-6">Unread</a>
                        <a class="col-6">Groups</a>
                        <a class="col-6">Users</a>
                        <a class="col-6">Tags</a>
                        <a class="col-6">Shortcuts</a>
                    </div>
                    <div class="row group-container">
                        <div class="col-12 title-bar">
                            Categories
                        </div>
                        <a class="col-6 cat-dot-item">
                            <i class="dot"></i>
                            Category
                        </a>
                        <a class="col-6 cat-dot-item">
                            <i class="dot"></i>
                            Category
                        </a>
                        <a class="col-6 cat-dot-item">
                            <i class="dot"></i>
                            Category
                        </a>
                        <a class="col-6 cat-dot-item">
                            <i class="dot"></i>
                            Category
                        </a>
                        <a class="col-6 cat-dot-item">
                            <i class="dot"></i>
                            Category
                        </a>
                        <a class="col-6 cat-dot-item">
                            <i class="dot"></i>
                            Category
                        </a>
                    </div>
                    <div class="row group-container">
                        <a class="col-6">Support</a>
                        <a class="col-6">Forum Rules</a>
                        <a class="col-6">Blog</a>
                        <a class="col-6">About</a>
                    </div>
                </div>
            </div>

            <div class="dropdown-container">
                <div class="dropdown-control with-control-stamp">
                    <i class="fa fa-bell"></i>
                    <span class="stamp-container">6</span>
                </div>
                <div class="dropdown-popup">
                    <div class="bulletin-container">
                        <div class="bulletin-item">
                            <div class="item-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="item-body">
                                <div class="item-title">
                                    Author . 01 Feb,17
                                </div>
                                <p class="item-meta">
                                    Hi!
                                </p>
                            </div>
                        </div>
                        <div class="bulletin-item">
                            <div class="item-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="item-body">
                                <div class="item-title">
                                    Author . 01 Feb,17
                                </div>
                                <p class="item-meta">
                                    Hi!
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="line-btn btn-secondary">
                        view older notifications...
                    </a>
                </div>
            </div>
            <div class="dropdown-container account-container">
                <div class="dropdown-control with-control-icon">
                    <div class="account-avatar-container">
                        <img src="../images/favicon.png" alt="">
                    </div>
                    ZODREAM
                </div>
                <div class="dropdown-popup">
                    <div class="icon-tab-bar">
                        <a href="">
                            <i class="fa fa-tag"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-commenting"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="../register.html">
                            <i class="fa fa-right-from-bracket"></i>
                        </a>
                    </div>
                    <div class="menu-bar">
                        <a href="">Dashboard</a>
                        <a href="">Badges</a>
                        <a href="">My Groups</a>
                        <a href="">Notifications</a>
                        <a href="">Topics</a>
                        <a href="">Likes</a>
                        <a href="">Solved</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @... 如果其他页面使用页面，则把其他页面当作内容替换此处

    <footer class="footer">
        <div class="container">
            <div class="footer-nav-logo">
                <img src="../images/favicon.png" alt="">
                ZODREAM
            </div>
            <div class="footer-nav-container">
                <div class="nav-group-bar">
                    <div class="nav-bar">
                        <a href="" class="nav-item">
                            <i class="fa fa-shield"></i>
                            Support
                        </a>
                        <a href="" class="nav-item">
                            About
                        </a>
                        <a href="" class="nav-item">
                            Contact Us
                        </a>
                        <a href="" class="nav-item">
                            The Team
                        </a>
                    </div>
                    <div class="dropdown-container footer-dropdown">
                        <div class="dropdown-control with-control-icon">
                            Americas - English
                        </div>
                        <div class="dropdown-popup">
                            <div class="row">
                                <div class="col-6">
                                    <div class="title-bar">
                                        Region
                                    </div>
                                    <ul class="option-bar">
                                        <li class="selected">
                                            America
                                        </li>
                                        <li>
                                            America
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <div class="title-bar">
                                        Language
                                    </div>
                                    <ul class="option-bar">
                                        <li class="selected">
                                            English
                                        </li>
                                        <li>
                                            English
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-group-bar">
                    <div class="share-bar">
                        <a href="">
                            <i class="fab fa-weibo"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-weibo"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-weibo"></i>
                        </a>
                    </div>
                    
                    <div class="copyright-container">
                        <span>© 2024 zodream.cn</span>
                        <a href="">Teams</a>
                        <a href="">Privacy</a>
                        <a href="">Send Feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @theme-bar 主题切换工具栏
    <script src="../js/jquery.min.js"></script>
    <script src="../js/js.cookie.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/animate.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>