@@ 导航栏

<div class="dropdown-container">
    <div class="dropdown-control with-control-icon">
        All Categories
    </div>
    <div class="dropdown-popup popup-panel">
        <div class="row">
            <a class="col-6 cat-dot-item">
                <i class="dot"></i>
                Category
            </a>
            <a class="col-6 cat-dot-item">
                <i class="dot"></i>
                Category
            </a>
            <a class="col-6 cat-dot-item">
                <i class="dot"></i>
                Category
            </a>
            <a class="col-6 cat-dot-item">
                <i class="dot"></i>
                Category
            </a>
            <a class="col-6 cat-dot-item">
                <i class="dot"></i>
                Category
            </a>
            <a class="col-6 cat-dot-item">
                <i class="dot"></i>
                Category
            </a>
        </div>
    </div>
</div>
<div class="dropdown-container">
    <div class="dropdown-control with-control-icon">
        Tags
    </div>
    <div class="dropdown-popup popup-panel">
        <div class="tag-bar">
            <a href="">selfie</a>
            <a href="" class="btn-success">selfie</a>
            <a href="" class="btn-primary">selfie</a>
        </div>
    </div>
</div>
<a href="" class="tab-item active">Latest</a>
<a href="" class="tab-item">Unread</a>
<a href="" class="tab-item">Rising</a>
<a href="" class="tab-item">Most Liked</a>
<a href="" class="tab-item">Follow Feed</a>