@@ 隐藏部分

<div class="topic-item with-hidden">
    <div class="item-header">
        <a href="" class="user-control-icon">
            Z
        </a>
        <div class="item-title">
            <div class="item-name">User</div>
        </div>
    </div>
    <div class="item-body">
        <p>This post has been hidden by a moderator. Received too much downvotes.</p>
    </div>
    <div class="item-footer">
        <div class="item-part-left">
            <a href="">
                <i class="fa fa-thumbs-down"></i>
                8
            </a>
        </div>
        <div class="item-part-right">
            <a href="" class="btn btn-primary">Show me</a>
        </div>
    </div>
</div>