@@ 用户卡片

<div class="user-popup">
    <div class="panel-header">
        <div class="avatar-icon">
            <img src="../images/favicon.png" alt="">
        </div>
    </div>
    <div class="panel-body">
        <div class="action-bar">
            <a href="">
                <i class="fa fa-user-plus"></i>
            </a>
            <a href="">
                <i class="fa fa-message"></i>
            </a>
        </div>
        <div class="name-bar">
            <div class="item-title">User</div>
            <div class="item-meta">Last post 4 hours ago. Joined Jun 1, 16</div>
        </div>
        <div class="medal-bar">
            <div class="medal-item">
                <img src="../images/favicon.png" alt="">
            </div>
            <div class="medal-item">
                <img src="../images/favicon.png" alt="">
            </div>
            <div class="medal-item">
                <img src="../images/favicon.png" alt="">
            </div>
        </div>
        <div class="meta-bar">
            <div class="meta-item">
                Threads - <span>1184</span>
            </div>
            <div class="meta-item">
                Posts - <span>1184</span>
            </div>
        </div>
    </div>
</div>