@@ 评论
<div class="swiper-slide">
    <div class="people-comment-item">
        <div class="item-body"> 
            <span class="item-icon">
                <i class="fa fa-comment-dots"></i>
            </span>
            <p class="desc">
                The theme is fine. It is customizable and its demos are great. The education plugin also works fine. But, although I like it so much, I want to point out a few shortcomings. Theme is appropriate, I agree. 
            </p>
        </div>
        <div class="item-user">
            <div class="avatar">
                <img src="../images/team.jpg" alt="Testimonial">
            </div>
            <div class="user-body">
                <div class="item-name">Megan Fox</div>
                <span class="item-title">Senior CEO</span>
            </div>
        </div>
    </div>
</div>