@@ 评论

<div class="comment-item">
    <article class="comment">
        <div class="comment-author">
            <img src="https://zodream.cn/assets/images/zx.jpg" alt="">
            <div class="comment-meta">
                <span class="name">zodream</span>
                <div class="date">2019-01-02</div>
            </div>
        </div>
        <div class="comment-content">
            <p>这是一条评论</p>
        </div>
        <div class="comment-footer">
            <i class="fa fa-reply"></i>
            <a href="">回复</a>
        </div>
    </article>
    <div class="children">
        <div class="comment-item">
            <article class="comment">
                <div class="comment-author">
                    <img src="https://zodream.cn/assets/images/zx.jpg" alt="">
                    <div class="comment-meta">
                        <span class="name">zodream</span>
                        <div class="date">2019-01-02</div>
                    </div>
                </div>
                <div class="comment-content">
                    <p>这是一条评论</p>
                </div>
                <div class="comment-footer">
                    <i class="fa fa-reply"></i>
                    <a href="">回复</a>
                </div>
            </article>
        </div>
        
    </div>
</div>