@@ 联系我们表单
<form id="contact-form" method="post">
    <fieldset>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" type="text" id="name" name="name" placeholder="Name" required="">
            </div> 
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
            </div>   
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
            </div>   
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input class="form-control" type="text" id="Website" name="subject" placeholder="Your Website" required="">
            </div>
      
            <div class="col-lg-12 mb-30">
                <textarea class="form-control" id="message" name="message" placeholder="Your message Here" required=""></textarea>
            </div>
        </div>
        <div class="btn-part">                                            
            <div class="form-group">
                <button class="btn btn-default">Submit Now</button>
            </div>
        </div> 
    </fieldset>
</form> 