@@ 联系方式
<div class="row">
    <div class="col-lg-4 col-md-6 md-mb-30">
       <div class="contact-item">
           <div class="item-icon">
               <img src="../images/icon.png" alt="images">
           </div>
           <div class="item-body">
               <h2 class="title"><a href="#">Office address</a></h2>
               <p class="item-text"> Ta-134/A, Gulshan Badda<br> Link Rd, Dhaka </p>
           </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6 sm-mb-30">
       <div class="contact-item">
           <div class="item-icon">
               <img src="../images/icon.png" alt="images">
           </div>
           <div class="item-body">
               <h2 class="title"><a href="#">Email us</a></h2>
               <a href="">support@rstheme.com</a><br>
               <a href="">info@codesless.com</a>
           </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6">
       <div class="contact-item">
           <div class="item-icon">
               <img src="../images/icon.png" alt="images">
           </div>
           <div class="item-body">
               <h2 class="title"><a href="#">Call us</a></h2>
               <a href="">(+088)589-8745</a><br>
               <a href="">(+088)222-9999</a>
           </div>
       </div>
    </div>
</div>