@@ 职位
<div class="col-lg-4 col-md-6">
    <div class="job-item">
        <div class="item-number">01.</div>
        <div class="item-title">Account Manager</div>
        <div class="item-text">
            Quisque placerat vitae focus scelet risque. Fusce luctus odio ac nibh luctus, in porttitor data.
            <div class="location">
                <strong>Location:</strong> London, UK
            </div>
        </div>
        <div class="btn-part">
            <a class="btn btn-default" href="../portfolio.html">Apply Now</a>
        </div>
    </div>
</div>