@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <div class="dialog-mask"></div>
    <div class="main-container">
        <header class="header-container">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="topbar-contact">
                               <ul>
                                   <li>
                                       <i class="flaticon-email"></i>
                                       <a href="#">xxx@xxx.com</a>
                                   </li>
                                   <li>
                                       <i class="flaticon-call"></i>
                                       <a href="tel:(+1)9999999999"> (+1) 9999 999 999</a>
                                   </li>
                                   <li>
                                       <i class="flaticon-location"></i>
                                       55 Gerad Lane,  NY 11201, USA
                                   </li>
                               </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <div class="toolbar-sl-share">
                                <ul>
                                     <li class="opening"> <em><i class="fa fa-clock"></i>Monday - Friday / 8AM - 11PM</em> </li>
                                     <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                     <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-bar">
                <div class="container">
                    <div class="nav-row">
                        <div class="brand-logo">
                            <img src="../images/logo.png" alt="">
                        </div>
                        <div class="nav-cell">
                            @navbar
                        </div>
                        <div class="nav-cell">
                            <a href="#" class="nav-item" data-modal="searchModal">
                                <i class="fa fa-search"></i>
                            </a>
                            <a href="#" class="nav-item toggle-icon" data-modal="navPanel">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @navbarPanel
        </header>
    
    
        @... 如果其他页面使用页面，则把其他页面当作内容替换此处
    </div>

    <footer>
        <div class="footer-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                        <div class="footer-logo">
                            <a href="../index.html"><img src="../images/logo.png" alt=""></a>
                        </div>
                        <div class="textwidget white-color"><p>We denounce with righteous indig nation in and dislike men who are so beguiled and to demo realized by the, so blinded by desire, that they cannot foresee.</p>
                        </div>
                        <div class="footer-social md-mb-30">  
                            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                        <h3 class="footer-title">Our Services</h3>
                        <ul class="site-map">
                            <li><a href="../business-planning.html">Business planning</a></li>
                            <li><a href="../tax-strategy.html">Tax strategy</a></li>
                            <li><a href="../financial-advices.html">Financial advices</a></li>
                            <li><a href="../insurance-strategy.html">Insurance strategy</a></li>
                            <li><a href="../manage-investment.html">Manage investment</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                        <h3 class="footer-title">Contact Info</h3>
                        <ul class="address-widget">
                            <li>
                                <i class="fa fa-map"></i>
                                <div class="desc">Ta-134/A, Gulshan Badda<br>
                                 Link Rd, Dhaka</div>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <div class="desc">
                                   <a href="#">(+880)155 69569 365</a>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <div class="desc">
                                    <a href="#">support@xxxxx.com</a>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-clock"></i>
                                <div class="desc">
                                    Office Hours: 8AM - 11PM  
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <h3 class="footer-title">Newsletter</h3>
                        <p class="widget-desc white-color">Stay up to update with our latest news and products.</p>
                        <p class="subscribe-input">
                            <input type="email" name="email" placeholder="Your email address" required class="form-control">
                            <button class="btn btn-default">Subscribe Now</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                        <ul class="footer-nav-bar">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="../about.html">About</a></li>
                            <li><a href="../faqs.html">Faqs</a></li>
                            <li><a href="../contact1.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright text-lg-start text-center">
                            <p>© 2021 Business - Inc. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top">
        <i class="fa fa-angle-up"></i>
    </div>

    @searchModal 搜索弹窗

    @theme-bar 主题切换工具栏
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/animate.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>