@@ 合作伙伴
<div class="patter-floor">
    <div class="container">
        <div class="swiper patter-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/favicon.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>