@@ 文章右边栏目
<div class="widget-area">
    <div class="search-bar">
        <div class="flat-input">
            <input type="search" placeholder="Searching..." name="s" class="form-control" value="">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="panel row-line">
        <div class="panel-header">
            <h3 class="title">Recent Posts</h3>
        </div>
        <div class="panel-body">
            <div class="post-line-item">
                <div class="item-image">
                    <a href="../post_detail.html"><img src="../images/about.png" alt=""></a>
                </div>
                <div class="item-body">
                    <a href="../post_detail.html"> Customer Onboarding Strategy: A Guide to Class </a>
                    <span class="item-date"> <i class="fa fa-calendar"></i> Aug 8, 2021 </span>
                </div>
            </div>
            <div class="post-line-item">
                <div class="item-image">
                    <a href="../post_detail.html"><img src="../images/about.png" alt=""></a>
                </div>
                <div class="item-body">
                    <a href="../post_detail.html"> Customer Onboarding Strategy: A Guide to Class </a>
                    <span class="item-date"> <i class="fa fa-calendar"></i> Aug 8, 2021 </span>
                </div>
            </div>
            <div class="post-line-item">
                <div class="item-image">
                    <a href="../post_detail.html"><img src="../images/about.png" alt=""></a>
                </div>
                <div class="item-body">
                    <a href="../post_detail.html"> Customer Onboarding Strategy: A Guide to Class </a>
                    <span class="item-date"> <i class="fa fa-calendar"></i> Aug 8, 2021 </span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="panel">
        <div class="panel-header">
            <h3 class="title">Categories</h3>
        </div>
        <ul class="term-group">
            <li><a href="../branding.html">Branding</a></li>
            <li><a href="../digital-marketing.html">Digital Marketing</a></li>
            <li><a href="../e-commerce.html">E-commerce</a></li>
            <li><a href="../graphic-design.html">Graphic Design</a></li>
        </ul>
    </div>
</div>