@@ 文章列表页
<div class="col-lg-12">
    <div class="post-large-item">
        <div class="item-image">
            <a href="../post_detail.html"><img src="../images/about.png" alt=""></a>
            <ul class="item-tag">
                <li><a href="../post_detail.html">Branding</a></li>
            </ul>
        </div>
        <div class="item-body">
            <h3 class="item-title"><a href="../post_detail.html">Customer onboarding there business classes</a></h3>
            <div class="item-meta">
                <ul class="btm-cate">
                    <li>
                        <div class="item-date">
                            <i class="fa fa-calendar-check-o"></i> Aug 7, 2021                                                        
                        </div>
                    </li>
                    <li>
                        <div class="author">
                            <i class="fa fa-user-o"></i> rstheme  
                        </div>
                    </li> 
                </ul>
            </div>
            <div class="item-desc">   
                We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by the charms of pleasure of the moment, so blinded by desire, that...          
            </div>
            <div class="item-button">
                <a class="item-btn" href="../post_detail.html">Continue Reading
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
