@@ 价格计划
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="pricing-item">
             <div class="item-header">
                 <h3 class="table-title">Basic Plan</h3>
             </div>
            <div class="item-icon">
                <img src="../images/icon.png" alt="">
            </div>
             <div class="item-price">
                 <div class="pricing-bags">
                     <span class="currency">$</span>
                     <span class="text">29</span>
                     <span class="period">/ Month</span>
                 </div>
             </div>
            <div class="item-body">
                <ul>
                     <li><i class="fa fa-check"></i><span>Powerful Admin Panel</span></li>
                     <li><i class="fa fa-check"></i><span>3 Native Android App</span></li>
                     <li><i class="fa fa-close"></i><span>Multi-Language Support</span></li>
                     <li><i class="fa fa-close"></i><span>Support via E-mail and Phone</span></li>
                </ul>
            </div>
            <div class="btn-part">
                <a class="btn" href="../contact.html">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
     <div class="pricing-item active">
          <div class="item-header">
              <h3 class="table-title">Basic Plan</h3>
          </div>
         <div class="item-icon">
             <img src="../images/icon.png" alt="">
         </div>
          <div class="item-price">
             <div class="pricing-bags">
                 <span class="currency">$</span>
                 <span class="text">29</span>
                 <span class="period">/ Month</span>
             </div>
          </div>
         <div class="item-body">
             <ul>
                  <li><i class="fa fa-check"></i><span>Powerful Admin Panel</span></li>
                  <li><i class="fa fa-check"></i><span>3 Native Android App</span></li>
                  <li><i class="fa fa-close"></i><span>Multi-Language Support</span></li>
                  <li><i class="fa fa-close"></i><span>Support via E-mail and Phone</span></li>
             </ul>
         </div>
         <div class="btn-part">
             <a class="btn" href="../contact.html">Buy Now</a>
         </div>
     </div>
 </div>
 <div class="col-lg-4 col-md-6">
     <div class="pricing-item">
          <div class="item-header">
              <h3 class="table-title">Basic Plan</h3>
          </div>
         <div class="item-icon">
             <img src="../images/icon.png" alt="">
         </div>
          <div class="item-price">
             <div class="pricing-bags">
                 <span class="currency">$</span>
                 <span class="text">29</span>
                 <span class="period">/ Month</span>
             </div>
          </div>
         <div class="item-body">
             <ul>
                  <li><i class="fa fa-check"></i><span>Powerful Admin Panel</span></li>
                  <li><i class="fa fa-check"></i><span>3 Native Android App</span></li>
                  <li><i class="fa fa-close"></i><span>Multi-Language Support</span></li>
                  <li><i class="fa fa-close"></i><span>Support via E-mail and Phone</span></li>
             </ul>
         </div>
         <div class="btn-part">
             <a class="btn" href="../contact.html">Buy Now</a>
         </div>
     </div>
 </div>
</div>