@@ 商品
<div class="col-lg-4 col-md-6">
    <div class="product-item">
        <div class="item-image">
            <img src="../images/about.png" alt="">
            <div class="overley">
                <a href="../shop_product.html"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
        <div class="item-body">
            <h2 class="item-title"><a href="../shop_product.html">Smart Hand Watch</a></h2>
            <span class="price">$75.00</span>
        </div>
    </div>
</div>