@@ 服务
<div class="row">
    <div class="col-lg-4 md-mb-30">
        <div class="services-item">
            <div class="item-icon">
                <img src="../images/icon.png" alt="Images">
            </div>
            <div class="item-body">
                <h3 class="title"><a href="../services-style1.html">Expert peoples</a></h3>
                <p class="item-text">At vero eos et accusamus etiusto odio praesentium.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 md-mb-30">
        <div class="services-item">
            <div class="item-icon">
                <img src="../images/icon.png" alt="Images">
            </div>
            <div class="item-body">
                <h3 class="title"><a href="../services-style1.html">Big experience</a></h3>
                <p class="item-text">At vero eos et accusamus etiusto odio praesentium.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="services-item">
            <div class="item-icon">
                <img src="../images/icon.png" alt="Images">
            </div>
            <div class="item-body">
                <h3 class="title"><a href="../services-style1.html">Committed to quality</a></h3>
                <p class="item-text">At vero eos et accusamus etiusto odio praesentium.</p>
            </div>
        </div>
    </div>  
</div>