@@ 团队人员

<div class="col-lg-4 col-md-6 row-line">
    <div class="team-item2">
        <div class="item-image">
            <a href="../team.html"><img src="../images/banner2.jpg" alt="Team"></a>
        </div>
        <div class="item-body">
            <h3 class="item-name"><a href="../team.html">Morgan Freeman</a></h3>
            <span class="item-title">Senior Consultant</span>
            <ul class="item-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>                                
            </ul>
        </div>
    </div>
</div>