@@ 文章列表

<div class="post-item">
    <article>
        <div class="thumb">
            <a href="../detail.html">
                <img src="https://zodream.cn/assets/images/zx.jpg" alt="">
            </a>
        </div>
        <div class="info">
            <div class="post-header">
                <div class="title">
                    <a href="../detail.html">标题</a>
                </div>
                <div class="byline">
                    <a href="" class="author">zodream</a>发表于
                    <a href="" class="date">2019-09-01</a>
                </div>
            </div>
            <div class="post-content">
                <p>这是不迎恩科举那就看发你卡</p>
                <a href="../detail.html" class="btn btn-default more-link">阅读原文</a>
                <span class="comments-link">
                    <i class="fa fa-comment"></i>
                    <a href="">评论</a>
                </span>
            </div>
        </div>
    </article>
</div>