@import 'functions';
@import 'mixins';
@import "theme";
@import 'root';
@import 'themeBar';



body {
    background-color: var(--#{$prefix}-body);
    color: var(--#{$prefix}-body-text);
}

a {
    --#{$prefix}-link: var(--#{$prefix}-link-text);
    color: var(--#{$prefix}-link);
    text-decoration: none;
    transition: .1s ease-in-out;
    &:link,
    &:visited {
        color: var(--#{$prefix}-link);
    }
}

.btn-default {
    --bs-btn-bg: var(--#{$prefix}-secondary);
    --bs-btn-color: var(--#{$prefix}-secondary-text);
}
.btn {
    border-radius: 0;
}

.title-bar {
    font-weight: bold;
    line-height: 2rem;
    color: var(--#{$prefix}-body-text);
}

.dropdown-container {
    --#{$prefix}-arrow: var(--#{$prefix}-body-text);
    position: relative;
    .dropdown-control {
        cursor: pointer;
    }
    .dropdown-popup {
        display: none;
        width: 20rem;
        position: absolute;
        z-index: 77;
        background-color: var(--#{$prefix}-dialog);
        color: var(--#{$prefix}-dialog-text);
        border-top: 1px solid var(--#{$prefix}-primary);
        box-shadow: 0px 1px 2px 0px var(--#{$prefix}-shadow);
        &.popup-panel {
            padding: 1rem;
        }
    }
    .with-control-icon {
        position: relative;
        padding-right: 1.2rem;
        @include iconArrow(var(--#{$prefix}-arrow));
    }
    &.popup-open {
        .dropdown-popup {
            display: block;
        }
    }
    &.footer-dropdown {
        .dropdown-popup {
            right: 0;
            top: auto;
            bottom: 4.3rem;
            left: auto;
            padding: 1rem .8rem;
            border-bottom: 1px solid var(--#{$prefix}-primary-hover);
            box-shadow: 0px -1px 2px 0px var(--#{$prefix}-shadow);
        }
    }
}

.header,
.footer {
    .dropdown-container {
        --#{$prefix}-arrow: var(--#{$prefix}-primary-text);
    }
}

.header {
    background-color: var(--#{$prefix}-primary);
    color: var(--#{$prefix}-primary-text);
    .container {
        display: flex;
    }
    .header-nav-logo,
    .search-bar {
        border-right: 1px solid var(--#{$prefix}-body);
    }
    .header-nav-logo {
        width: 10rem;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        color: var(--#{$prefix}-primary-text);
    }
    .search-bar {
        flex: 1;
        display: flex;
        align-items: center;
        
    }
    .search-input-container {
        flex: 1;
        position: relative;
        .fa {
            position: absolute;
            font-size: 2rem;
            left: 1rem;
        }
        input {
            height: 2rem;
            padding-left: 4rem;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            color: var(--#{$prefix}-primary-text);
            &::placeholder {
                color: var(--#{$prefix}-primary-text);
            }
        }
    }
    .account-avatar-container {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: inline-block;
        img {
            width: 100%;
        }
    }
    .dropdown-control {
        padding: 2rem 1.2rem 2rem 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        .fa {
            margin-left: .8rem;
        }
    }
    .dropdown-popup {
        top: 6.8rem;
        right: 0;
    }
    .with-control-stamp {
        position: relative;
        .fa {
            margin-left: 0;
        }
    }
    .stamp-container {
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: .25rem;
        top: 2rem;
        left: .2rem;
        font-size: .75rem;
        background-color: var(--bs-danger);
        color: var(--#{$prefix}-primary-text);
        justify-content: center;
        align-items: center;
        display: flex;
    }
}


.footer {
    position: relative;
    background-color: var(--#{$prefix}-primary);
    color: var(--#{$prefix}-primary-text);
    padding: 2rem 0;
    a {
        color: var(--#{$prefix}-primary-text);
    }
    .container {
        display: flex;
    }
    .footer-nav-logo {
        width: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 4rem;
        }
    }
    .footer-nav-container {
        flex: 1;
    }
    .copyright-container {
        a {
            margin-left: .8rem;
        }
    }
    .nav-item {
        margin-right: 1rem;
        .fa {
            margin-right: .6rem;
        }
    }
    .share-bar {
        order: 1;
        a {
            margin-left: .8rem;
        }
    }
    .nav-group-bar {
        display: flex;
        justify-content: space-between;
        padding: .8rem 0;
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--#{$prefix}-body);
        }
    }
}

.group-container {
    padding: 1.4rem 2rem;
    margin: 0;
    line-height: 2rem;
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--#{$prefix}-secondary);
    }
}

.bulletin-item {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    .item-icon {
        display: inline-flex;
        justify-content: center;
        width: 3rem;
    }
    .item-body {
        flex: 1;
    }
    .item-title {
        color: var(--#{$prefix}-body-text);
    }
    .item-meta {
        margin: 0;
        margin-top: .6rem;
        line-height: 1.6;
        color: var(--#{$prefix}-secondary-text);
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--#{$prefix}-secondary);
    }
}

.line-btn {
    --bs-btn-bg: var(--#{$prefix}-secondary);
    --bs-btn-color: var(--#{$prefix}-secondary-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
    padding: .8rem 2rem;
}


.option-bar {
    .selected {
        &::marker {
            color: var(--#{$prefix}-primary);
        }
    }
}

.icon-tab-bar {
    display: flex;
    align-items: center;
    padding: .8rem;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--#{$prefix}-secondary);
    a {
        color: var(--#{$prefix}-secondary-text);
        display: inline-block;
        flex: 1;
        text-align: center;
    }
}

.menu-bar {
    padding: .8rem 0;
    a {
        color: var(--#{$prefix}-secondary-text);
        display: block;
        padding: 0.4rem 1.5rem;
    }
}

.select-container {
    .option-item {
        padding: .8rem 1.5rem;
        input,
        .fa {
            margin-right: .8rem;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--#{$prefix}-secondary);
        }
    }
}

.tab-header-bar {
    display: flex;
    line-height: 2.5rem;
    border-bottom: solid var(--#{$prefix}-secondary);
    padding: .8rem 0;
    .tab-item,
    .dropdown-container {
        margin-right: .8rem;
    }
    .dropdown-container {
        background-color: var(--#{$prefix}-secondary);
    }
    .dropdown-control {
        padding-left: .8rem;
    }
    .tab-item {
        white-space: nowrap;
        display: inline-flex;
        user-select: none;
        color: var(--#{$prefix}-secondary-text);
        .fa {
            opacity: .7;
        }
        span,
        .fa {
            display: inline-block;
            padding: 0 0.3125rem;
        }
    }
    .active {
        position: relative;
        color: var(--#{$prefix}-body-text);
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: .2rem;
            position: absolute;
            bottom: -1rem;
            background-color: var(--#{$prefix}-primary);
        }
    }
}

.post-table-header {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    .item-topic {
        width: 50%;
        min-width: 50%;
    }
    .item-category {
        width: 13%;
        min-width: 13%;
    }
    .item-user {
        width: 13%;
        min-width: 13%;
        
    }
    .item-reply,
    .item-view,
    .item-time {
        width: 8%;
        min-width: 8%;
        text-align: center;
    }
}

.cat-dot-item {
    display: inline-flex;
    align-items: center;
    .dot {
        width: .6rem;
        height: .6rem;
        border-radius: 50%;
        background-color: var(--#{$prefix}-primary);
        display: inline-block;
        margin-right: .6rem;
    }
}

.tag-bar {
    --bs-btn-bg: var(--#{$prefix}-tag);
    --bs-btn-color: var(--#{$prefix}-tag-text);
    line-height: 1.4rem;
    a {
        display: inline-block;
        background-color: var(--bs-btn-bg);
        color: var(--bs-btn-color);
        border-radius: .1875rem;
        padding: .0625rem .625rem;
        margin: .1875rem .125rem;
        font-size: .8125rem;
    }
}


.title-container {
    margin: 2rem 0;
    .item-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .item-category {
        display: inline-block;
    }
    .item-tag-bar {
        margin-left: 1rem;
        display: inline-block;
    }
}

.user-control-icon {
    --bs-btn-bg: var(--#{$prefix}-tag);
    --bs-btn-color: var(--#{$prefix}-tag-text);
    --#{$prefix}-link: var(--#{$prefix}-tag-text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
    margin-right: .4rem;
    img {
        width: 100%;
    }
}

.post-item {
    background-color: var(--bs-table-bg);
    color: var(--bs-table-color);
    padding: 1rem 0;
    display: flex;
    .item-part-primary,
    .item-part-secondary {
        display: flex;
        align-items: center;
    }
    .item-part-primary {
        width: 63%;
        min-width: 63%;
    }
    .item-part-secondary {
        width: 37%;
        min-width: 37%;
    }
    .item-topic {
        padding-left: 1.5rem;
        padding-right: .8rem;
    }
    .item-title {
        margin: 0;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.6;
        display: flex;
        align-items: center;
        .fa {
            font-size: 1.3rem;
            margin-right: .8rem;
        }
    }
    .item-meta {
        margin: 0;
        margin-top: .6rem;
        line-height: 1.6;
        color: var(--#{$prefix}-secondary-text);
    }
    
    .item-category {
        width: 20.63%;
        min-width: 20.63%;
    }
    .item-user {
        display: inline-flex;
        align-items: center;
        width: 35.13%;
        min-width: 35.13%;
    }
    .item-reply,
    .item-view,
    .item-time {
        width: 21.62%;
        min-width: 21.62%;
        text-align: center;
    }
}

.panel-container {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: var(--#{$prefix}-panel);
    padding: 1.25rem;
    .panel-header {
        line-height: 2.5rem;
        font-size: 1.125rem;
        padding: 0 0.625rem;
        border-bottom: 1px solid var(--#{$prefix}-secondary);
        .fa {
            margin-right: .8rem;
        }
    }
    .panel-body {
        padding: .8rem 0;
    }
    .panel-footer {
        padding: .8rem 0;
        text-align: right;
        border-top: 1px solid var(--#{$prefix}-secondary);
    }
    .page-empty-tip {
        font-size: 3em;
        color: var(--bs-tertiary-color);
        font-weight: 700;
        text-align: center;
        padding: 2em 0;
        cursor: default;
        user-select: none;
    }
}

.login-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
    .panel-body {
        background-color: var(--#{$prefix}-panel);
        padding: 1.25rem;
    }
    .panel-header {
        text-align: center;
    }
    .site-logo {
        font-size: 3rem;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid var(--#{$prefix}-secondary);
        padding: 2rem;
        margin-bottom: 2rem;
        img {
            width: 4rem;
        }
    }
    .meta-bar {
        padding: 1rem 0 2rem;
        font-size: .8rem;
        color: var(--#{$prefix}-secondary-text);

    }
}
.router-bar {
    display: flex;
    align-items: center;
    color: var(--#{$prefix}-secondary-text);
    a {
        background-color: var(--#{$prefix}-secondary);
        color: var(--#{$prefix}-body-text);
        display: inline-flex;
        align-items: center;
        padding: 0 .8rem;
        margin-left: .8rem;
    }
}

.calendar-bar {
    .calendar-item {
        padding-left: 1rem;
        &:not(:last-of-type) {
            margin-bottom: 10rem;
        }
        &:first-of-type,
        &:last-of-type {
            padding-left: .4rem;
        }
    }
    .active {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -.1rem;
            top: 0;
            bottom: 0;
            width: .3rem;
            background-color:  var(--#{$prefix}-primary);
        }
    }
    .item-meta {
        color: var(--#{$prefix}-secondary-text);
    }
    .calendar-body {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 1.5rem;
            bottom: 1.5rem;
            width: .1rem;
            background-color:  var(--#{$prefix}-secondary);
        }
    }
    .calendar-header,
    .calendar-footer {
        --bs-btn-bg: var(--#{$prefix}-secondary);
        --bs-btn-color: var(--#{$prefix}-secondary-text);
        a {
            background-color: var(--bs-btn-bg);
            color: var(--bs-btn-color);
            display: inline-flex;
            width: 2.5rem;
            height: 2.5rem;
            align-items: center;
            justify-content: center;
        }
    }
    .calendar-header {
        margin-bottom: 1rem;
    }
    .calendar-footer {
        margin-top: 1rem;
    }
}

.topic-item,
.topic-sub-item {
    background-color: var(--#{$prefix}-panel);
    padding: 1.5rem;
    margin-bottom: 1rem;
    .item-header {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        >.user-control-icon {
            margin-right: 1.2rem;
        }
    }
    .item-title {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item-part-right {
        display: flex;
        align-items: center;
    }
    .item-time {
        color: var(--#{$prefix}-secondary-text);
        margin-left: .8rem;
    }
    .item-body,
    .item-footer {
        margin-left: 3rem;
    }
    .item-body {
        color: var(--#{$prefix}-secondary-text);
    }
    .item-footer {
        border-top: 1px solid var(--#{$prefix}-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .8rem;
        a {
            color: var(--#{$prefix}-secondary-text);
            .fa {
                margin-right: .4rem;
            }
            &:not(:last-of-type) {
                margin-right: .8rem;
            }
        }
    }
    &.with-hidden {
        border: dashed 1px #f85e5e;
        background-color: #fff8f8;
        .btn {
            border-radius: 0;
        }
    }
}

.topic-sub-item {
    margin-left: 4rem;
    .item-part-right {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        a {
            color: var(--#{$prefix}-secondary-text);
        }
    }
}

.counter-bar {
    display: flex;
    .count-item {
        padding: .8rem;
        text-align: center;
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
    .item-label {
        color: var(--#{$prefix}-secondary-text);
    }
    .item-count {
        margin-top: .6rem;
        font-size: 1.25rem;
        line-height: 1.6;
    }
}

.topic-panel {
    background-color: var(--#{$prefix}-panel);
    padding: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 4.5rem;
    .panel-header {
        color: var(--#{$prefix}-secondary-text);
        margin-bottom: .8rem;
    }
    .link-bar,
    .user-bar,
    .action-bar {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid var(--#{$prefix}-secondary);
    }
    .action-bar {
        .panel-body {
            display: flex;
            justify-content: space-between;
        }
    }
    .user-control-icon {
        position: relative;
        .item-stamp {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--#{$prefix}-secondary-text);
            width: 1.5rem;
            height: 1rem;
            font-size: .8rem;
            right: -.6rem;
            top: -.4rem;
        }
    }
    .dropdown-container {
        display: inline-flex;
        background-color: var(--#{$prefix}-secondary);
    }
    .dropdown-control {
        padding-left: .8rem;
        display: flex;
        align-items: center;
        .fa {
            margin-right: .8rem;
        }
    }
    .link-bar {
        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    .link-item {
        display: flex;
        align-items: center;
        .item-count {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 1rem;
            font-size: .8rem;
            background-color: var(--#{$prefix}-secondary);
            color: var(--#{$prefix}-secondary-text);
            margin-right: 1rem;
        }
        .item-meta {
            margin-left: .8rem;
            color: var(--#{$prefix}-secondary-text);
        }
    }
}

.topic-action-bar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .panel-header {
        margin-bottom: 1.5rem;
    }
}

@import '767';