$prefix: 'zre' !default;

$primary: #bb0b0b;
$primaryText: #fff;
$primarySubText: #ccc;

$secondary: #13171c;
$secondaryText: #fff;

$body: #fff;
$bodyText: #0a0a0a;
$bodySecondaryText: #666;

$third: #ebebeb;
$thirdText: #333;

$hover: #404040;
$hoverText: white;

$active: #454545;
$activeText: white;

$dialog: #000;
$dialogText: #fff;

$button: #bb0b0b;
$buttonText: #fff;
$buttonBorder: #bb0b0b;
$buttonHoverText:  white;
$buttonHover: #c43434;

$linkText: #0a0a0a;
$linkHoverText: #bb0b0b;

$shadow: rgba(0, 0, 0, .25);
$disable: #ababaa;

$input: #fff;
$inputTextIcon: white;
$inputText: #333;
$inputLabel: #929292;
$inputBorder: #ced4da;
$inputFocusBorder: #bb0b0b;
$inputFocusShadow: 0 0 0 0.25rem rgb(#bb0b0b, .5);

$nav: white;
$navText: #b5b6b7;
$navActiveText: #04b4e0;
$navPop: #04b4e0;
$navPopText: white;

$titleText: #333;
$titleStrongText: #bb0b0b;

$copyright: #000;
$copyrightText: #fff;

$icon: #bb0b0b;

$tag: #04b4e0;
$tagText: #fff;

$dark-primary: #2e2e2e;
$dark-primaryText: #eee;
$dark-primarySubText: #ccc;
$dark-secondary: #333;
$dark-secondaryText: white;

$dark-third: #666;
$dark-thirdText: #eee;

$dark-body: #333;
$dark-bodyText: white;
$dark-bodySecondaryText: #929292;

$dark-hover: #404040;
$dark-hoverText: white;

$dark-active: #454545;
$dark-activeText: white;

$dark-dialog: #3b3b3b;
$dark-dialogText: white;

$dark-button: transparent;
$dark-buttonText: #929292;
$dark-buttonBorder: #6B6B6B;
$dark-buttonHoverText: white;
$dark-buttonHover: #404040;

$dark-linkText: #43a1e1;
$dark-linkHoverText: #43a1e1;

$dark-shadow: rgba(255, 255, 255, .25);
$dark-disable: #ababaa;

$dark-input: #2b2b2b;
$dark-inputTextIcon: white;
$dark-inputText: white;
$dark-inputLabel: #929292;
$dark-inputBorder: #6B6B6B;
$dark-inputFocusBorder: #808080;
$dark-inputFocusShadow: 0 0 0 1px #808080 inset;

$dark-nav: #2e2e2e;
$dark-navText: #929292;
$dark-navActiveText: white;
$dark-navPop: #404040;
$dark-navPopText: white;

$dark-titleText: #929292;
$dark-titleStrongText: white;

$dark-copyright: #404040;
$dark-copyrightText: #929292;

$dark-icon: #929292;

$dark-tag: #404040;
$dark-tagText: #929292;