@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <div class="flex-container">
        @navbar 导航

        <div class="flex-body">
            @... 如果其他页面使用页面，则把其他页面当作内容替换此处
        </div>
    </div>
    

    @theme-bar 主题切换工具栏
    <script src="../js/jquery.min.js"></script>
    <script src="../js/animate.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>