@@ 推荐项
<a class="recommend-item" href="../detail.html">
    <div class="item-image">
        @~<img src="../images/2.jpg" alt="">@@<img src="../images/1.jpg" alt="">
    </div>
    <div class="item-body">
        <div class="item-name">推荐</div>
        <div class="star-bar">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span class="star-label">8.4</span>
        </div>
    </div>
</a>