@@ 博客列表
<div class="post-large-item">
    <div class="item-image">
        <a href="../blog_detail.html"><img src="../images/banner3.jpg" alt=""></a>
        <ul class="item-tag">
            <li><a href="../blog_detail.html">Branding</a></li>
        </ul>
    </div>
    <div class="item-meta-bar">
        <ul class="meta-bar">
            <li>April 17, 2015</li>
            <li>By <a href="">zre</a></li>
            <li>In <a href="">tag</a>, <a href="">tag</a></li>
        </ul>
        <ul class="meta-bar">
            <li>
                <i class="fa fa-commenting"></i>
                <a href="">5</a>
            </li>
            <li>
                <i class="fa fa-eye"></i>
                <a href="">5000</a>
            </li>
        </ul>
    </div>
    <h3 class="item-title"><a href="../blog_detail.html">Customer onboarding there business classes</a></h3>
    <p class="item-desc">   
        We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by the charms of pleasure of the moment, so blinded by desire, that...          
    </p>
    <div class="item-button">
        <a class="btn btn-primary" href="../blog_detail.html">
            READ MORE
        </a>
    </div>
</div>