@@ 博客的侧边栏

@action
            
@lastestArticle

@lastestArticle // MOST VIEWED

<div class="panel-container mt-5">
    <div class="panel-header">TEXT WIDGET</div>
    <div class="panel-body">
        asdasdasdasd
    </div>
</div>

<div class="panel-container mt-5">
    <div class="panel-header">CATEGORIES</div>
    <div class="tag-bar">
        <a href="">one</a>
        <a href="">one</a>
        <a href="">one</a>
        <a href="">one</a>
        <a href="">one</a>
    </div>
</div>
<div class="panel-container mt-5">
    <div class="panel-header">ARCHIVES</div>
    <div class="tag-count-bar">
        <a href="">2015
            <span class="item-count">2</span>
        </a>
        <a href="">2015
            <span class="item-count">2</span>
        </a>
        <a href="">2015
            <span class="item-count">2</span>
        </a>
        <a href="">2015
            <span class="item-count">2</span>
        </a>
    </div>
</div>
<div class="panel-container mt-5">
    <div class="panel-header">TAGS</div>
    <div class="tag-bar">
        <a href="">one</a>
        <a href="">one</a>
        <a href="">one</a>
        <a href="">one</a>
        <a href="">one</a>
    </div>
</div>