@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @=title
        - Car Service</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <div class="main-container">
        <header class="header-container">
            <div class="top-outline-bar">
                <div class="container">
                    <div class="top-bar">
                        <div class="contact-bar">
                            <a class="contact-item">
                                <i class="fa fa-mobile-alt"></i>
                                +86 1362222222
                            </a>
                            <a class="contact-item">
                                <i class="fa fa-envelope"></i>
                                admin@zre.com
                            </a>
                            <a class="contact-item">
                                <i class="fa fa-clock"></i>
                                Mon - Fri: 7:30am - 5:30pm
                            </a>
                        </div>
                        <div class="contact-icon-bar">
                            <a href="">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a data-modal="searchModal">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nav-outline-bar">
                <div class="container">
                    <div class="nav-bar">
                        
                        <a class="nav-brand-logo">
                            <span>ZoDream</span>
                            <!-- <img src="../images/favicon.png" alt=""> -->
                        </a>

                        @navbar 导航栏
                        <div class="nav-toggle-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        @... 如果其他页面使用页面，则把其他页面当作内容替换此处

        <footer class="footer-container">
            <div class="footer-top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="contact-item">
                                <div class="item-icon">
                                    <i class="fa fa-map-marked"></i>
                                </div>
                                <div class="item-body">
                                    Tucson, AZ 80210: <br/>501 Archwood Lane
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-item">
                                <div class="item-icon">
                                    <i class="fa fa-shield-alt"></i>
                                </div>
                                <div class="item-body">
                                    Feel Free to Call Us Now<br/>501 Archwood Lane
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-item">
                                <div class="item-icon">
                                    <i class="fa fa-phone-volume"></i>
                                </div>
                                <div class="item-body">
                                    24/7 Roadside Assistance<br/>40088888
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row next-bar">
                        <div class="col-md-3">
                            <div class="group-header">
                                ABOUT US
                            </div>
                            <p>
                                This is our company address.
                            </p>
                            <div class="line-row-item">
                                <label for="">Mobile:</label>
                                +86 134444444
                            </div>
                            <div class="line-row-item">
                                <label for="">Assistance:</label>
                                4000 00
                            </div>
                            <div class="line-row-item">
                                <label for="">E-mail:</label>
                                admin@zre.com
                            </div>
                            <div class="tag-bar contact-icon-bar">
                                <a href="">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="group-header">
                                OUR SERVICES
                            </div>
                            <div class="check-line-item">
                                Engine Diagnostics
                            </div>
                            <div class="check-line-item">
                                Engine Diagnostics
                            </div>
                            <div class="check-line-item">
                                Engine Diagnostics
                            </div>
                            <div class="check-line-item">
                                Engine Diagnostics
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="group-header">
                                POPULAR TAGS
                            </div>
                            <div class="tag-bar">
                                <a href="">One</a>
                                <a href="">Tow</a>
                                <a href="">THeresasda</a>
                                <a href="">adapooalkamksdjnkja</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="group-header">
                                HOURS
                            </div>
                            <div class="line-row-item">
                                <label for="">Monday:</label>
                                7:30am - 5:30pm
                            </div>
                            <div class="line-row-item">
                                <label for="">Tuesday:</label>
                                7:30am - 5:30pm
                            </div>
                            <div class="line-row-item">
                                <label for="">Wednesday:</label>
                                7:30am - 5:30pm
                            </div>
                            <div class="line-row-item">
                                <label for="">Thursday:</label>
                                7:30am - 5:30pm
                            </div>
                            <div class="line-row-item">
                                <label for="">Friday:</label>
                                7:30am - 5:30pm
                            </div>
                            <div class="line-row-item">
                                <label for="">Saturday:</label>
                                7:30am - 5:30pm
                            </div>
                            <div class="line-row-item">
                                <label for="">Sunday:</label>
                                Closed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-bar">
                <div class="container">
                    © Copyright 2024 zodream.cn
                </div>
            </div>
        </footer>
    </div>

    
    <div class="back-top-btn">
        <i class="fa fa-chevron-up"></i>
    </div>

    @searchModal 搜索弹窗

    @theme-bar 主题切换工具栏
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/animate.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>