@@ 导航
<ul class="nav-menu-bar">
    <li class="nav-item has-child">
        <a href="../index.html">Home</a>
        <ul class="sub-menu-bar">
            <li><a href="../index.html">Home Style 1</a></li>
            <li><a href="../index2.html">Home Style 2</a></li>
        </ul>
    </li>
    <li class="nav-item has-child">
        <a href="../services.html">Services</a>
        <ul class="sub-menu-bar">
            <li><a href="../service_detail.html">Engine Diagnostics</a></li>
            <li><a href="../service_detail.html">Lube, Oil and Filters</a></li>
            <li><a href="../service_detail.html">Belts and Hoses</a></li>
            <li><a href="../service_detail.html">Air Conditioning</a></li>
            <li><a href="../service_detail.html">Brake Repair</a></li>
            <li><a href="../service_detail.html" title="Tire and Wheel Services">Tire and Wheel Services</a> </li>
        </ul>
    </li>
    <li class="nav-item has-child">
        <a href="../galleries.html">
            Gallery
        </a>
        <ul class="sub-menu-bar">
            <li>
                <a href="../gallery_detail.html" title="Engine Diagnostics">
                    Engine Diagnostics
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Oil Change">
                    Oil Change
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Belts and Hoses">
                    Belts and Hoses
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Tire Change">
                    Tire Change
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Wheel Services">
                    Wheel Services
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Lube Services">
                    Lube Services
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Brake Repair">
                    Brake Repair
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Other Car Services">
                    Other Car Services
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="../team.html" title="Our Team">
            Our Team
        </a>
    </li>
    <li class="nav-item has-child">
        <a href="">Pages</a>
        <ul class="sub-menu-bar">
            <li>
                <a href="../about.html" title="About">
                    About
                </a>
            </li>
            <li>
                <a href="../404.html" title="404 Not Found">
                    404 Not Found
                </a>
            </li>
            <li>
                <a href="../services.html" title="Services">
                    Services Style 1
                </a>
            </li>
            <li>
                <a href="../services2.html" title="Services Style 2">
                    Services Style 2
                </a>
            </li>
            <li>
                <a href="../service_detail.html" title="Single Service">
                    Single Service
                </a>
            </li>
            <li>
                <a href="../galleries.html" title="Galleries">
                    Galleries
                </a>
            </li>
            <li>
                <a href="../gallery_detail.html" title="Single Project">
                    Single Gallery
                </a>
            </li>
            <li>
                <a href="../team.html" title="Team">
                    Team
                </a>
            </li>
            <li>
                <a href="../team_detail.html" title="Single Team">
                    Single Team
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item has-child">
        <a href="#">Blog</a>
        <ul class="sub-menu-bar">
            <li>
                <a href="../blog.html" title="Blog">
                    Blog
                </a>
            </li>
            <li>
                <a href="../blog_left_sidebar.html" title="Blog">
                    Blog Left Sidebar
                </a>
            </li>
            <li>
                <a href="../blog_2_columns.html" title="Blog 2 Columns">
                    Blog 2 Columns
                </a>
            </li>
            <li>
                <a href="../blog_3_columns.html" title="Blog 3 Columns">
                    Blog 3 Columns
                </a>
            </li>
            <li>
                <a href="../blog_detail.html" title="Single Post">
                    Single Post
                </a>
            </li>
            <li>
                <a href="../search.html" title="Search Template">
                    Search Template
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="../appointment.html">Appointment</a>
    </li>
    <li class="nav-item has-child flyout-left">
        <a href="#">Contact</a>
        <ul class="sub-menu-bar">
            <li><a href="../contact.html">Contact Style 1</a></li>
            <li><a href="../contact2.html">Contact Style 2</a></li>
            <li class="last-item has-child">
                <a href="#">Team</a>
                <ul class="sub-menu-bar">
                    <li><a href="../team.html">Team Style 1</a> </li>
                    <li><a href="../team.html">Team Style 2</a></li>
                    <li><a href="../team.html">Team Style 3</a></li>
                    <li><a href="../team.html">Team Detail</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>