@@ 搜索弹窗
<div class="modal search-modal" id="searchModal">
    <button type="button" class="close-btn">
        <span class="fa fa-close"></span>
    </button>
    <div class="modal-body">
        <div class="search-body">
            <form class="search-input">
                <input class="form-control" placeholder="Search Here..." type="text">
                <i class="fa fa-close input-clear"></i>
                <button class="input-search" type="submit" value="Search"><i class="fa fa-search"></i></button>
            </form>
            <ul class="search-suggestion">
                <li>
                    <span>1</span>
                    do you do
                </li>
                <li>
                    <span>2</span>
                    do you do
                </li>
                <li>
                    <span>3</span>
                    do you do
                </li>
            </ul>
        </div>
    </div>
</div>