@@ 团队

<div class="team-item">
    <div class="item-thumb">
        <img src="../images/favicon.png" alt="">
        <div class="item-action-bar">
            <a href="">
                <i class="fab fa-google"></i>
            </a>
            <a href="">
                <i class="fab fa-github"></i>
            </a>
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
    <div class="item-header">
        <a href="../team_detail.html" class="item-title">Name</a>
        <span class="item-meta">CO-FOUNDER</span>
    </div>
    <p class="item-body">
        Primus elite lectus tical at node. Porta commodo terminal forks sande. Nulla novum at novelle.
    </p>
</div>