@import "theme";
@import "ps";

body {
    background-color: @body;
    color: @bodyText;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: @linkText;
    &:hover {
        text-decoration: none;
    }
}

.page-box {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    padding: 0;
    background-color: @primary;
    box-shadow: 0 0 100px -5px @shadow;
    border-radius: 32px;
    backface-visibility: hidden;
}

.header {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .profile-box {}

    .avatar {
        position: relative;
        width: 180px;
        margin: 0 auto 30px;
        z-index: 1;

        img {
            max-width: 100%;
            background-color: @body;
            border: 3px solid @body;
            border-radius: 300px;
        }

        &::after {
            position: absolute;
            opacity: .3;
            top: 7%;
            left: 7%;
            border-radius: 300px;
            content: '';
            height: calc(100% + 0px);
            width: calc(100% + 0px);
            background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
            background-size: 6px 6px;
            z-index: -1;
        }
    }

    .info {
        .name {
            font-size: 36px;
            font-weight: 600;
            color: @primaryText;
            margin: 5px 0 7px;
            line-height: 1.2em;
        }

        .remark {
            font-size: 18px;
            font-weight: 300;
            color: @primaryText;
            margin: 5px 0;
            line-height: 1.2em;
        }
    }
    .social-links {
        margin: 20px 0;

        a {
            color: @primaryText;
            border-radius: 20px;
            font-size: 18px;
            padding: 0;
            height: 30px;
            width: 30px;
            display: inline-block;
            line-height: 30px;
            text-align: center;
            opacity: .9;

            &:hover {
                opacity: 1;
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }

    .header-action {
        margin-top: 50px;

        a {
            display: inline-block;
            position: relative;
            padding: .8em 2.1em;
            margin-bottom: .75em;
            margin-right: .25em;
            font-size: 1em;
            line-height: 1.2;
            border: 0;
            outline: 0;
            border: 2px solid @primaryText;
            text-shadow: none;
            border-radius: 30px;
            background-color: transparent;
            color: @primaryText;
            transition: all .3s ease-in-out;
            box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22);
            &:hover {
                background-color: @primaryText;
                color: @primary;
                border-color: @primaryText;
            }
        }
    }

    .copyright {
        color: @primaryText;
        width: 380px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 10px 15px;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
    }
}

.page-area {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 380px);
}

.animate-box {
    position: relative;
    height: 100%;
    perspective: 1500px;
    backface-visibility: hidden;
}

.animate-section {
    position: absolute;
    background-color: @body;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 60px;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    touch-action: auto;

    &.active {
        opacity: 1;
        overflow: auto;
        visibility: visible;
        z-index: 99;
    }
}

.nav-action {
    position: absolute;
    padding: 10px 0;
    width: 60px;
    right: -80px;
    background-color: @nav;
    border-radius: 35px;
    z-index: 98;
    list-style: none;
    bottom: 0;
    box-shadow: 0 0 30px -5px @shadow;
    a {
        display: block;
        position: relative;
        text-align: center;
        color: @navText;
        padding: 10px;
        font-size: 24px;
        transition: all .3s ease-in-out;
        &:hover {
            color: @navActiveText;
        }
    }
}

.vcenter {
    vertical-align: middle;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: center;
}

.title-box {
    h2 {
        font-size: 60px;
        line-height: 74px;
        margin: 0;
        text-align: center;
    }
}

.title-bar {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: @titleText;
    h2 {
        position: relative;
        font-size: 32px;
        z-index: 1;
        span {
            color: @titleStrongText;
        }
    }

    &::after {
        position: absolute;
        opacity: .45;
        top: 10px;
        right: 0;
        content: '';
        height: 30px;
        width: 50px;
        background-image: -webkit-repeating-radial-gradient(center center, @titleStrongText, @titleStrongText 1px, transparent 0px, transparent 100%);
        background-size: 6px 6px;
        z-index: 0;
    }
    &.sm-bar {
        padding-right: 12px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
}

.input-group {
    position: relative;
    margin: 0 0 21.5px;

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="search"],
    input[type="email"],
    textarea {
        position: relative;
        border: 2px solid @inputBorder;
        border-radius: 5px;
        display: block;
        font-size: 1em;
        line-height: 1.4;
        margin: 0;
        padding: 10px 25px 10px 12px;
        width: 100%;
        background: 0 0;
        background-color: transparent;
        text-align: left;
        color: inherit;
        box-shadow: none;
        outline: none;
        font-family: poppins, Helvetica, sans-serif;
        box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .1);

        &:focus {
            ~label {
                color: @inputLabel;
                top: -20px;
                left: 0;
                z-index: 1;
                font-size: 13px;
            }
        }
    }

    label {
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: -1;
        color: @inputLabel;
        transition: .3s;
    }

    .input-tip {
        position: absolute;
        display: none;
        padding: 0 5px;
        font-size: .93em;
        line-height: 1.75em;
        margin: -2px 0 0 10px;
        color: @inputText;
        // background: #ff4e4e;
        top: 3rem;
        &::after {
            content: " ";
            position: absolute;
            left: 5px;
            bottom: 100%;
            width: 0;
            height: 0;
            border-bottom: 10px solid #ff4e4e;
            border-right: 10px solid transparent;
        }
    }
}

.items-box {
    .item {
        width: 50%;
        float: left;
        padding: 0 1em 2em;
        display: block;
        position: relative;
        background: @body;
    }
    .media-box {
        position: relative;
        overflow: hidden;
        img {
            transition: all .3s ease-in-out;
            max-width: 100%;
            display: block;
        }
        .mask {
            position: absolute;
            background: #4f565e;
            background: rgba(0,0,0,.12);
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 900;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            width: 100%;
            left: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -22px 0 0 -22px;
                width: 44px;
                line-height: 44px;
                font-size: 44px;
                text-align: center;
                content: "\f02d";
                color: #fff;
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
            .mask {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .tags {
        a {
            position: absolute;
            top: 10px;
            left: 10px;
            background: #fff;
            padding: 2px 7px;
            line-height: 1.2em;
            font-size: 11px;
            color: #222;
            z-index: 3;
        }
    }
    .info {
        padding: 1em 1.4em 1.4em;
        border-top: 0;
        .time {
            display: inline-block;
            color: #888;
            font-size: 11px;
            line-height: 1.1em;
            font-weight: 300;
        }
        .title {
            margin: 5px 0 0;
            font-size: 18px;
            display: block;
        }
    }
}

.about-bottom {
    h4 {
        color: @titleText;
        font-size: 1.2em;
        margin: 2.1% 0 0;
        line-height: 1.3em;
    }
    p {
        color: @secondaryText;
        font-size: 15px;
        margin: 5px 0 0;
        line-height: 1.6em;
    }
    .autograph {
        line-height: 30px;
        color: #333;
        text-align: right;
    }
}

.contact-box,
.link-box {
    margin-top: 40px;
    p {
        
    }
    textarea {
        min-height: 180px;
    }
    .btn-primary {
        color: @buttonText;
        background: 0 0;
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px transparent;
        backface-visibility: hidden;
        position: relative;
        transition-property: color;
        transition-duration: .3s;
        width: 100px;
        border: 1px solid @buttonBorder;
        border-radius: 0;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: @buttonHover;
            transform: scaleX(0);
            transform-origin: 50%;
            transition-property: transform;
            transition-duration: .3s;
            transition-timing-function: ease-out;
        }
        &:hover {
            color: @buttonHoverText;
            &::before {
                transform: scaleX(1);
            }
        }
    }
}

.friend-link {
    a {
        margin-right: 20px;
    }
}

.filter-box {
    margin-bottom: 30px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: #666;
        cursor: pointer;
    }
    .filter-item {
        li {
            display: inline-block;
            margin-right: 15px;
            font-size: 13px;
            opacity: .7;
            &.active {
                opacity: 1;
            }
        }
    }
}

.tags-box {
    a {
        display: inline-block;
        background-color: @tag;
        border-radius: 3px;
        color: @tagText;
        padding: 1px 10px;
        margin: 3px 2px;
        font-size: 13px;
    }
}

.progress {
    background-color: @tagText;
    border: 1px solid @tag;
    margin-bottom: 8px;
    .progress-bar {
        background-color: @tag;
    }
}

.time-axis {
    .timeline-item {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        padding-bottom: 15px;
        .time-icon {
            position: absolute;
            top: 0;
            left: 30%;
            bottom: 0;
            width: 1px;
            background-color: #eee;
            &::before {
                content: '';
                display: block;
                position: absolute;
                margin-top: 4px;
                width: 17px;
                height: 17px;
                margin-left: -8px;
                border-radius: 10px;
                background-color: @icon;
                opacity: .25;
                z-index: 0;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                margin-top: 8px;
                width: 9px;
                height: 9px;
                margin-left: -4px;
                background-color: #fff;
                border-radius: 5px;
                border: 2px solid @icon;
                z-index: 1;
            }
        }
        .left-part {
            width: 30%;
            display: table-cell;
            padding-right: 25px;
            min-height: 100%;
            text-align: right;
            vertical-align: top;
            h5 {
                margin: 3px 0;
                font-size: 14px;
                line-height: 1.4em;
            }
            span {
                display: block;
                margin: 0 0 4px;
                font-size: 13px;
                font-weight: 300;
                line-height: 1.45em;
                color: #a5a6a7;
            }
        }
        .right-part {
            width: 70%;
            display: table-cell;
            padding-left: 25px;
            padding-right: 15px;
            vertical-align: top;
            h4 {
                font-size: 16px;
                margin-bottom: 3px;
            }
            p {
                font-size: .92em;
            }
        }
    }
}

.certificate-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
    .logo {
        display: table-cell;
        width: 120px;
        height: 100%;
        background-color: #f5f5f5;
        padding: 25px;
        vertical-align: middle;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .body {
        display: table-cell;
        width: 100%;
        padding: 20px 25px;
        vertical-align: middle;
        .title {
            font-size: 16px;
            margin: 0 0 5px;
        }
        p {
            font-size: .9em;
            color: #777;
            margin: 0;
        }
    }

}

.detail-box {
    .title-bar {
        margin-bottom: 0;
    }
    .info {
        border-bottom: 1px dotted @primary;
        line-height: 40px;
        span,
        a {
            margin-right: 20px;
            color: @bodysecondaryText;
        }
        .language-toggle {
            display: inline-block;
            margin-right: 20px;
            border: 1px solid @primary;
            border-bottom: none;
            a {
                display: inline-block;
                background-color: @primary;
                color: #fff;
                margin: 0;
                width: 40px;
                text-align: center;
                &.active {
                    background-color: #fff;
                    color: #333;
                }
            }
        }
    }
    .content {
        a {
            color: @linkText;
        }
    }
    .toggle-open {
        background-color: rgba(@tag, .9);
        line-height: 40px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        color: @tagText;
        cursor: pointer;
    }
    .tools {
        border-top: 1px dotted @primary;
        line-height: 40px;
        font-size: 20px;
        color: @bodysecondaryText;
        .agree,
        .disagree {
            float: right;
            margin-left: 20px;
        }
        .comment {
            margin-right: 20px;
        }
    }
    
    .book-source,
    .book-tags {
        font-size: 14px;
        font-weight: 100;
        margin-top: 10px;
        a {
            color: @linkText;
            font-weight: 600;
        }
    }
    
    .book-bottom {
        margin-bottom: 20px;
    }
    
    .book-copyright {
        clear: both;
        background-color: @copyright;
        color: @copyrightText;
        font-size: 12px;
        padding: 6px 15px 5px;
        border-radius: 2px;
        text-align: center;
        margin-top: 10px;
    }
    .tags-box {
        a {
            font-size: 12px;
            line-height: 1.5em;
            color: @buttonText;
            padding: 2px 7px;
            background-color: @button;
            border-radius: 3px;
            border: 1px solid @buttonBorder;
            margin: 3px 2px 2px;
        }
    }
}

@import "768";
@import "992";
@import "1200";
@import "0";





