@@ 文章详情
<section id="detail" class="animate-section">
    <div class="preloader-spinner">
    </div>

    <div class="detail-box">
        <div class="title-bar">
            <h2>文章详情</h2>
        </div>

        <div class="detail-body">
            <div class="info">
                <a class="author"><i class="fa fa-edit"></i><b>zodream</b></a>
                <a class="category"><i class="fa fa-bookmark"></i><b>分类</b></a>
                <a class="language"><i
                        class="fa fa-code"></i><b>php</b></a>
                <span class="time"><i class="fa fa-calendar-check"></i><b>2019-01-01</b></span>
            </div>
            <article id="content" class="content">
                <div>
                    <p>正文</p>
                    <p>正文</p>
                    <p>正文</p>
                    <p>正文</p>
                    <p>正文</p>
                    <p>正文</p>
                    <p>正文</p>
                    <p>正文</p>
                </div>
                <p class="book-copyright">转载请保留原文链接：
                    <a href="https://zodream.cn">https://zodream.cn</a>
                </p>
              </article>
              <div class="book-bottom">
                    <div class="book-source" >
                        <span>转载于：</span>
                        <a target="_blank" title="本文为转载内容，点击查看原网" href="https://zodream.cn">https://zodream.cn </a>
                    </div>
                    <div class="tags-box">
                        <a href="https://zodream.cn">标签1</a>
                        <a href="https://zodream.cn">标签2</a>
                  </div>
              </div>
              <div class="tools">
                  <span class="comment"><i class="fa fa-comments"></i><b>999</b></span>
                  <span class="click"><i class="fa fa-eye"></i><b>444</b></span>
                  <span class="agree recommend-blog"><i class="fa fa-thumbs-up"></i><b>66</b></span>
              </div>
          </div>
    </div>

</section>