@@ 友情链接
<section id="link" class="animate-section">
    <div class="title-bar">
        <h2>友情  
            <span>链接</span>
        </h2>
    </div>
    <div class="friend-link">
        <a href="https://zodream.cn">zodream</a>
        <a href="https://zodream.cn">zodream</a>
        <a href="https://zodream.cn">zodream</a>
        <a href="https://zodream.cn">zodream</a>
    </div>

    <div class="link-box">
        <div class="title-bar sm-bar">
            <h3>友链信息</h3>
        </div>
        <p>
            名称：zodream
        </p>
        <p>
            地址：https://zodream.cn
        </p>
        <p>
            描述：zodream开发博客
        </p>

        <form action="" class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text">
                    <label for="">显示的网站名称</label>
                    <div class="input-border"></div>
                    <div class="input-tip">
                        名称必填
                    </div>
                </div>
                <div class="input-group">
                    <input type="text">
                    <label for="">跳转的网站链接：例如:https://zodream.cn</label>
                    <div class="input-border"></div>
                    <div class="input-tip">
                        邮箱必填
                    </div>
                </div>
                <div class="input-group">
                    <input type="text">
                    <label for="">将发送结果到你的邮箱</label>
                    <div class="input-border"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <textarea name="content"></textarea>
                    <label for="">网站简介</label>
                    <div class="input-border"></div>
                </div>
                <button type="submit" class="btn btn-primary">申请友链</button>
            </div>
        </form>
    </div>
</section>