@@ 履历
<section id="resume" class="animate-section">
    <div class="title-bar">
        <h2>履历</h2>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="title-bar sm-bar">
                <h3>教育
                    <span>经历</span>
                </h3>
            </div>

            <div class="time-axis">
                @timeline@3
            </div>
        
            <div class="title-bar sm-bar">
                <h3>工作
                    <span>经历</span>
                </h3>
            </div>

            <div class="time-axis">
                @timeline@6
            </div>
        </div>
        <div class="col-md-5">
            <div class="title-bar sm-bar">
                <h3>编码
                    <span>技能</span>
                </h3>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PHP</div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Typscript</div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">C#</div>
            </div>

            <div class="title-bar sm-bar">
                <h3>知识</h3>
            </div>
            <div class="tags-box">
                <a href="">时间管理</a>
                <a href="">社交媒体</a>
            </div>
        </div>
    </div>

    <div class="title-bar sm-bar">
        <h3>证书</h3>
    </div>

    <div>
        <div class="certificate-item">
            <div class="logo">
                <img src="https://zodream.cn/assets/images/zx.jpg" alt="">
            </div>
            <div class="body">
                <div class="title">zodream</div>
                <p>id: 1111</p>
                <p>时间：2020-09</p>
                <p>xx公司</p>
            </div>
        </div>

    </div>
</section>