@@ 文章列表
<div class="post-item">
    <article>
        <div class="thumb">
            <a href="../detail.html">
                @~<img src="https://zodream.cn/assets/images/zx.jpg" alt="">@@<img src="https://zodream.cn/assets/images/site1.jpg" alt="">
                <div class="mask">

                </div>
            </a>
        </div>
        <div class="info">
            <div class="title">
                <a href="../detail.html">标题</a>
            </div>
            <div class="byline">
                <a href="" class="date">
                    <i class="fa fa-calendar-alt"></i>
                    2019-09-01</a>
                <span class="category">
                    <i class="fa fa-tag"></i>
                    <a href="">分类</a>
                </span>
            </div>
        </div>
    </article>
</div>