@@ 视频列表
<div class="video-item">
    <div class="thumb">
        <a href="../detail2.html">
            @~<img src="https://zodream.cn/assets/images/zx.jpg" alt="">@@<img src="https://zodream.cn/assets/images/site1.jpg" alt="">
            <div class="mask">
                <div class="comment-count">
                    <i class="fa fa-heart"></i>
                    20w
                </div>
                <div class="time-count">
                    01:10
                </div>
            </div>
        </a>
    </div>
    <div class="info">
        <div class="title">
            <a href="../detail2.html">标题</a>
        </div>
        <div class="byline">
            <div class="user">
                <div class="avatar"><img src="https://zodream.cn/assets/images/zx.jpg" alt=""></div>
                <span>zodream</span>
            </div>
            <div class="date">5天前</div>
        </div>
    </div>
</div>