@@ 右侧
<div class="side-bar">
    <div class="panel">
        <div class="panel-header">
            <h2>关于</h2>
        </div>
        <div class="panel-body">
            213213123213
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-header">
            <h2>搜索</h2>
        </div>
        <div class="panel-body">
            <form class="flat-input" action="../search.html">
                <input type="text" class="form-control">
                <button class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-header">
            <h2>最新文章</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    <a href="../detail.html">34123213213213</a>
                </li>
                <li>
                    <a href="../detail.html">34123213213213</a>
                </li>
                <li>
                    <a href="../detail.html">34123213213213</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-header">
            <h2>分类</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    <a href="../category.html">1</a><span>(1)</span>
                </li>
                <li>
                    <a href="../category.html">34123</a><span>(1)</span>
                </li>
                <li>
                    <a href="../category.html">3412</a><span>(1)</span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-header">
            <h2>标签</h2>
        </div>
        <div class="panel-body">
            <a href="../tag.html">标签1</a>
            <a href="../tag.html">标签2</a>
            <a href="../tag.html" style="font-size: 30px;">标签2</a>
            <a href="../tag.html">标签2</a>
            <a href="../tag.html">标签2</a>
        </div>
    </div>
</div>