@@

<div class="list-novel-item">
    <div class="item-thumb">
        <img src="https://zodream.cn/assets/images/zx.jpg" alt="">
    </div>
    <div class="item-body">
        <a class="item-title">书名</a>
        <p>
            <a>user</a>|
            <span>2字</span>|
            <span>连载中</span>
        </p>
        <p>
            更新时间：2019-09
        </p>
        <div>
            单主评分：
            <div class="star-bar">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <p class="item-remark">
        好评
    </p>
    <div class="item-action">
        <a>
            <i class="fa fa-thumbs-up"></i>10
        </a>
        <a>
            <i class="fa fa-thumbs-down"></i>0
        </a>
        <a>
            加入书架
        </a>
    </div>
</div>