@@

<div class="novel-list-item">
    <div class="item-thumb">
        <img src="https://zodream.cn/assets/images/zx.jpg" alt="">
        <img src="https://zodream.cn/assets/images/site1.jpg" alt="">
    </div>
    <div class="item-body">
        <a class="item-title" href="../list_detail.html">书单名</a>
        <p class="item-meta">这个一个很有用的书单</p>
        <div class="item-footer">
            <a >
                <i class="fa fa-user"></i>
                user</a>
            <span class="item-time">
                <i class="fa fa-clock"></i>
                2019</span>

            <div class="item-count">
                <span>8本书</span>
                <span>9浏览</span>
                <span>11收藏</span>
            </div>
        </div>
    </div>
</div>