@@ 小说列表
<div class="swiper-item-body">
    <div class="novel-item-body">
        <div class="item-name">
            <a href="../detail.html">标题</a>
        </div>
        <div class="item-tags">
            <a href="../author.html">
                <i class="fa fa-user"></i>
                作者
            </a>
            <a href="">分类</a>
            <a href="">连载</a>
        </div>
        <div class="item-meta">
            这是简介
        </div>
        <div class="item-status">
            <span>400字</span>
            <a href="">最新章节</a>
        </div>
        <a href="../detail.html" class="btn btn-primary">查看详情</a>
    </div>
    <div class="novel-item-cover">
        @~<img src="https://zodream.cn/assets/images/zx.jpg" alt="">@@<img src="https://zodream.cn/assets/images/site1.jpg" alt="">
    </div>
</div>