@@ 小说列表
<div class="col-md-6">
    <div class="novel-history-item">
        <div class="item-cover">
            <a href="../detail.html">
                @~<img src="https://zodream.cn/assets/images/zx.jpg" alt="">@@<img src="https://zodream.cn/assets/images/site1.jpg" alt="">
                <div class="mask">
    
                </div>
            </a>
        </div>
        <div class="item-body">
            <div class="item-name">
                <a href="../detail.html">标题</a>
            </div>
            <div class="item-tags">
                <a href="../search.html">
                    <i class="fa fa-use"></i>
                    作者
                </a>
                <a href="../category.html">分类</a>
                <a href="../search.html">连载</a>
            </div>
            <div class="item-icon-line">
                <i class="fa fa-history"></i>
                <a href="../reader.html">最近阅读到</a>
            </div>
            <div class="item-icon-line">
                <i class="fa fa-compass"></i>
                <a href="../reader.html">最新章节</a>
            </div>
        </div>
        <div class="item-action">
            <a href="" class="btn btn-primary">删除</a>
        </div>
    </div>
</div>