@use 'sass:math';
.nav-panel {
    left: -30rem;
    transition: left 500ms;
    background-color: @primary;
    color: @primaryText;
    .nav-brand,
    .social-bar,
    .copyright {
        padding-right: .8rem;
    }
    a {
        color: @primaryText;
    }
    .nav-bar {
        text-align: center;
        max-height: 14rem;
        overflow-y: auto;
        a {
            padding-right: .8rem;
        }
    }
    .nav-sub-bar {
        position: static;
        width: 100%;
        text-align: center;
        a {
            color: @bodyText;
        }
    }
 
}

.nav-dialog-mask {
    display: none;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .3);
}

$toggleHeight: .25rem;
$toggleMargin: .5rem;
$toggleCount: 3;
$toggleOffset: math.div($toggleMargin * ($toggleCount - 1), 2) + $toggleHeight * math.ceil(math.div($toggleCount - 2, 2));

.nav-toggle-arrow {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 101;
    span {
        width: 2.5rem;
        height: $toggleHeight;
        background-color: @bodyText;
        display: block;
        margin: $toggleMargin auto;
        transition: all 0.3s ease-in-out;
    }      
}

.nav-fully-open {
    .nav-dialog-mask {
        display: block;
    }
    .nav-panel {
        display: flex;
        left: 0;
    }
    .nav-toggle-arrow {
        span {
            opacity: 0;
            background-color: @primaryText;
            &:first-of-type {
                opacity: 1;
                transform: translateY($toggleOffset) rotate(45deg);
            }
            &:last-of-type {
                opacity: 1;
                transform: translateY(-$toggleOffset) rotate(-45deg);
            }
        }
    }
}