@import "theme";

body {
    background-color: $bg;
}

a {
    color: #333;
    text-decoration: none;
    transition: .1s ease-in-out;
    &:link,
    &:visited {
        color: #333;
    }
}

.header {
    .top-bar {
        background: #fff;
        border-bottom: 1px solid #ddd \9;
        display: block;
        height: 32px;
        box-shadow: 0 2px 4px 0 #d9d9d9;
        margin-bottom: 20px;
        a {
            display: inline-block;
            height: 33px;
            line-height: 33px;
            padding: 0 20px 0 0;
            text-align: center;
            font-size: 12px;
            color: #999;
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }
    .title-bar {
        color: #000;
        margin-bottom: 20px;
        h2 {
            display: inline-block;
        }
        span {
            color: #d4d4d4;
        }
    }
    .menu-box {
        margin-bottom: 1.875em;
    }
    .navbar {
        padding: 0;
        background: #363636;
        .nav-item {
            &:hover {
                background-color: #000;
                .nav-link {
                    color: #fff;
                }
            }
        }
        .nav-link {
            padding: 15px 20px;
        }
    }
}

.header-large {
    height: 5.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand-logo {
        display: inline-block;
    }
    .flat-input {
        max-width: 18.75rem;
        .fa {
            line-height: 1.5;
        }
    }
}

.footer {
    background: $headerBg;
    padding: 20px 0 15px 0;
    margin-top: 1.875em;
    color: #888;
}

.main-box {
    .search-header {
        margin-bottom: 0.75em;
        color: white;
        h1 {
            display: inline-block;
            font-weight: 300;
            background: #242424;
            padding: 6px 14px 6px 14px;
            font-size: 0.875em;
            line-height: 1.715;
        }
        .fa {
            margin-right: 4px;
        }
    }
}

.items-box {
    column-count: 4;
    column-gap: 20px;
}

.col-md-9,
.col-md-8 {
    .items-box {
        column-count: 3;
    }
}

.post-item {
    background-color: #fff;
    position: relative;
    margin-bottom: 1.5em;
    break-inside: avoid;
    .thumb {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        .mask {
            position: absolute;
            background: #4f565e;
            background: rgba(0,0,0,.12);
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 900;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            width: 100%;
            left: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -22px 0 0 -22px;
                width: 44px;
                line-height: 44px;
                font-size: 44px;
                text-align: center;
                content: "\f002";
                color: #fff;
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
            .mask {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .title {
        padding: 15px 10px 15px;
        position: relative;
        font-size: 1.75em;
        line-height: 1.357;
    }
    .byline {
        font-size: 12px;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        border-top: 1px solid #eee;
        line-height: 35px;
        padding: 0 5px;
        text-align: center;
        .date,
        .category {
            font-weight: 700;
            text-decoration: none
        }
    }
}

.detail-box {
    background-color: #fff;
    margin-bottom: .75rem;
    .thumb {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        .mask {
            position: absolute;
            background: #4f565e;
            background: rgba(0,0,0,.12);
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 900;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            width: 100%;
            left: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -22px 0 0 -22px;
                width: 44px;
                line-height: 44px;
                font-size: 44px;
                text-align: center;
                content: "\f002";
                color: #fff;
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
            .mask {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .info {
        padding: 15px 10px 15px;
    }
    .title {
        position: relative;
        font-size: 1.75em;
        line-height: 1.357;
    }
    .byline {
        padding: 10px 0;
        border-top: #000 solid 5px;
        line-height: 1.5em;
        color: #999;
        font-size: 12px;
        a {
            color: #999;
        }
        .date,
        .category,
        .author {
            font-weight: 700;
            text-decoration: none;
        }
    }
    .book-copyright {
        clear: both;
        background-color: #f2f2f2;
        font-size: 12px;
        color: #999;
        padding: 6px 15px 5px;
        border-radius: 2px;
        text-align: center;
        margin-top: 10px;
    }
    .post-meta {
        font-size: .75em;
        line-height: 1.5;
        margin-bottom: 1.71em;
        a {
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .tags-box {
        margin-bottom: 1.125em;
        a {
            display: inline-block;
            border: solid 1px #333;
            padding: 6px 12px;
            margin-right: 12px;
            border-radius: 0;
            &:hover {
                background-color: #333;
                color: #fff;
            }
        }
    }
    .further-box {
        .previous,
        .next {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
        }
        a {
            font-weight: 700;
            display: block;
        }
        .previous {
            margin-bottom: 0;
        }
        .next {
            text-align: right;
        }
    }
}

.btn-default {
    border: solid 1px #333;
    padding: 6px 12px;
    margin-right: 12px;
    border-radius: 0;
    &:hover {
        background-color: #333;
        color: #fff;
    }
}

.form-control {
    border-radius: 0;
}

.side-bar {
    margin-top: 3em;
    .panel-header {
        border-bottom: #000 solid 3px;
        h3 {
            font-size: 15px;
        }
    }
}

.panel {
    background-color: #fff;
    padding: 15px 10px 15px;
    margin-bottom: .75rem;
    .panel-header {
        margin-bottom: 1.5em;
    }
    .panel-body {

    }
}

.pager-box {
    margin: 20px 0;
    position: relative;
    ul {
        margin: 0;
    }
    .pagination {
        display: block;
    }
    .page-item {
        display: inline-block;
        &.active {
            .page-link {
                background-color: #333;
                border-color: #333;
                color: #fff
            }
        }
    }
    .page-link {
        color: #333;
    }
}

.comment-item {
    position: relative;
    margin-bottom: .75em;
    .comment {
        background: #fff;
        box-shadow: 0 0 2px 0 rgba(58,58,58,.2);
        padding: 15px 10px;
    }
    .comment-content {
        margin: 15px 0;
    }
    .comment-author {
        img {
            border-radius: 50%;
            width: 3em;
            height: 3em;
            float: left;
            margin-right: .75em;
        }
        .name {
            display: block;
            font-weight: 700;
        }
        .date {
            float: left;
        }
        &::after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .comment-footer {
        position: absolute;
        top: 1.5em;
        right: 4.6875375%;
    }
    .children {
        padding-left: 1.5em;
        border-left: solid 1px #d4d4d4;
        margin: .75em 0;
    }
}

.file-box {
    .tab-header {
        a {
            padding: 6px 12px;
            color: #fff;
            display: block;
            background-color: #0a0a0a;
            float: left;
            &.active,
            &:hover {
                background-color: #2b618e;
            }
        }
        &::after {
            clear: both;
            content: " ";
            display: block;
        }
    }
    .file-item {
        display: block;
        text-decoration: none;
        .file-label {
            display: inline-block;
            padding: .2em .2ex;
            line-height: 15px;
            color: #fff;
            text-align: center;
            background-color: #777;
            &:nth-of-type(2n) {
                background-color: #5cb85c;
            }
        }
        .name {
            font-weight: 700;
            line-height: 40px;
        }
        &:hover {
            .name {
                color: #777;
            }
        }
    }
}

.play-item {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px 10px 0;
}

.flat-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    .form-control,
    .btn {
        border-radius: 0;
    }
    .form-control:first-child {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border-radius: .25rem 0 0 .25rem;
    }
    .btn:last-child {
        display: flex;
        border-radius: 0 .25rem .25rem 0;
    }
}

.video-box {
    .filter-bar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .filter-item {
        display: inline-block;
        margin-bottom: 12px;
        margin-right: 16px;
        cursor: pointer;
        pointer-events: auto;
        background: #fff;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 100px;
        color: rgba(47,48,53,.9);
        display: flex;
        justify-content: center;
        min-width: 72px;
        padding: 5px 16px;
        &.active {
            border-color: #fe2c55;
            color: #fe2c55;
        }
    }
    .video-item {
        margin-bottom: 24px;
        .thumb {
            border: 1px solid rgba(229,229,234,.3);
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            img {
                display: block;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }
        .mask {
            position: relative;
            .comment-count {
                position: absolute;
                bottom: .2em;
                left: .2em;
                color: white;
            }
            .time-count {
                position: absolute;
                right: .2em;
                bottom: .2em;
                color: #ccc;
            }
        }
        .title {
            margin-top: 8px;
        }
        .user {
            .avatar {
                display: inline-block;
                background-color: #e6e7ee;
                border: 1px solid #f1f2f5;
                border-radius: 50%;
                box-sizing: content-box;
                flex-grow: 0;
                flex-shrink: 0;
                overflow: hidden;
                position: relative;
                width: 2rem;
                height: 2rem;
                vertical-align: middle;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .byline {
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.author-bar {
    display: flex;
    margin-top: 1.5em;
    .avatar {
        background-color: #e6e7ee;
        border: 1px solid #f1f2f5;
        border-radius: 50%;
        box-sizing: content-box;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        width: 4em;
        height: 4em;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .info {
        flex: 1;
        position: relative;
    }
    .name {
        line-height: 2em;
    }
    .meta {
        color: #777;
        font-size: .8em;
    }
    .follow-count,
    .like-count {
        margin-right: .3em;
        display: inline-block;
    }
    .btn-like {
        position: absolute;
        right: 0;
        top: .8em;
        background-color: #fe2c55;
        color: #fff;
        font-size: .8em;
    }
}
.title-bar {
    margin-top: 2em;
    font-size: 1.2em;
}

.video-simple-item {
    margin-top: 1.5em;
    display: flex;
    height: 6em;
    .thumb {
        flex: 1;
        img {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .like-count {
        color: #777;
        font-size: .8em;
    }
}

.comment-header {
    color: #777;
    line-height: 3em;
}
.player-box {
    .player-title {
        line-height: 2em;
        font-size: 1.2em;
    }
    .date {
        float: right;
        color: #777;
    }
    .like-count,
    .comment-count,
    .share-count {
        display: inline-block;
        margin-right: .5em;
    }
}

@media only screen and (max-width: 767px) {
    .items-box {
        column-count: 3;
    }
}

@media only screen and (max-width: 576px) {
    .items-box {
        column-count: 2;
    }
}