@@ 分类

<div class="col-md-4">
    <div class="cat-item">
        <div class="item-name">
            Name
        </div>
        <div class="item-desc">
            three more 
        </div>
        <div class="item-meta">
            <a href="">aaa</a>
            <a href="">aaa</a>
            <a href="">aaa</a>
        </div>
        <div class="item-body">
            <div class="item-icon">
                <img src="../images/1.jpg" alt="">
            </div>
            <img src="../images/bg.jpg" alt="">
        </div>
    </div>
</div>