@@ item

<div class="res-item">
    <div class="item-thumb">
        <a href="../detail.html"><img src="../images/bg.jpg" alt=""></a>
        <div class="item-hat"></div>
    </div>
    <div class="item-body">
        <a class="item-name" href="../detail.html">
            name
        </a>
        <div class="item-meta">
            by <a href="">author</a> in <a href="">category</a>
        </div>
        <div class="item-action">
            <div class="item-price">
                <p>$19</p>
                <p class="sale">50 Sales</p>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-default">
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <a href="" class="btn btn-default">
                    Live Preview
                </a>
            </div>
        </div>
    </div>
</div>