@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Store</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="top-bar">
                <div class="brand-logo">
                    <img src="../images/favicon.png" alt="">
                </div>
                <div class="more-bar">
                    <a href="">Forums</a>
                    <a href="">
                        <i class="fa fa-align-left"></i>
                        Our Products</a>
                    <div class="inner-group">
                        <a href="">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a href="">Sign In</a>
                        <div class="navbar-icon">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @navbar 导航
    </header>

    @... 如果其他页面使用页面，则把其他页面当作内容替换此处

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        Copyright ©zodream.cn, All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @theme-bar 主题切换工具栏
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>