@@ 导航
<div class="navbar">
    <div class="container-fluid">
        <ul class="navbar-main">
            <li>
                <a href="../index.html">推荐</a>
            </li>
            <li class="active">
                <a href="../category.html">电影</a>
            </li>
            <li><a href="../category.html">电视剧</a></li>
            <li><a href="../category.html">音乐</a></li>
        </ul>
    </div>
    <div class="container-fluid navbar-next-bar">
        <ul class="navbar-next">
            <li>
                <a href="../index.html">推荐</a>
                <div class="nav-sub">
                    <ul>
                        <li><a href="../category.html">电视剧</a></li>
                        <li class="divider"></li>
                        <li><a href="../category.html">音乐</a></li>
                        <li><a href="../play.html">频道</a></li>
                        <li><a href="../category.html">直播</a></li>
                    </ul>
                </div>
            </li>
            <li class="active">
                <a href="../category.html">电影</a>
            </li>
            <li><a href="../category.html">电视剧</a></li>
            <li><a href="../category.html">音乐</a></li>
            <li><a href="../play.html">频道</a></li>
            <li><a href="../category.html">直播</a></li>
        </ul>
        <form class="search-inline" action="../search.html">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search ..." name="keywords">
        </form>
    </div>
    
</div>