@@ 商品列表

<div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
        <a href="" class="thumb">
            <img src="../image/thumb.webp" alt="">
        </a>
        
        <div class="product-container">
            <div class="countdown">
                <div class="countdown-row">
                    <div class="countdown-section">
                        <span class="countdown-amount">0</span>
                        <span class="countdown-period">天</span>
                    </div>
                    <div class="countdown-section">
                        <span class="countdown-amount">0</span>
                        <span class="countdown-period">天</span>
                    </div>
                    <div class="countdown-section">
                        <span class="countdown-amount">0</span>
                        <span class="countdown-period">天</span>
                    </div>
                    <div class="countdown-section">
                        <span class="countdown-amount">0</span>
                        <span class="countdown-period">天</span>
                    </div>
                </div>
            </div>

            <div class="info">
                <h2 class="title">商品名称</h2>
                <div class="price">
                    <span class="old-money">￥100</span>
                    <span class="money">￥99</span>
                </div>
                <div class="option-row">
                    <ul>
                        <li class="active">
                            <img src="../image/thumb.webp" alt="">
                        </li>
                    </ul>
                </div>
                <div class="product-footer">
                    <a href="" class="add-to-cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        加入购物车
                    </a>
                </div>
            </div>
        </div>


        <div class="action">
            <a href="">
                <i class="fa fa-eye"></i>
                <span>查看</span>
            </a>
            <a href="">
                <i class="fa fa-eye"></i>
                <span>查看</span>
            </a>
        </div>
        <div class="tags">
            <a href="">最新</a>
        </div>
    </div>
</div>