@@ 不要编译此页面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商城</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.scss">
</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="#">ZODREAM</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">分类</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分类</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Action 1</a>
                                <a class="dropdown-item" href="#">Action 2</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 mY-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu search-box" aria-labelledby="dropdownId">
                                <div class="container">
                                    <form action="">
                                        <div class="title">你想找什么？</div>
                                        <i class="fa fa-times"></i>
                                        <div class="search-input">
                                            <input type="text" placeholder="请输入搜索内容">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Action 1</a>
                                <a class="dropdown-item" href="#">Action 2</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Action 1</a>
                                <a class="dropdown-item" href="#">Action 2</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    @... 如果其他页面使用页面，则把其他页面当作内容替换此处

    <div class="footer">
        <div class="join-bar">
            <div class="container">
                <div class="title">
                    点击加入我们
                </div>
                <form action="" class="flex-input">
                    <input type="text" class="form-control">
                    <button class="btn btn-success">加入</button>
                </form>
                <div class="bar-right">
                    <a href="">
                        <i class="fab fa-qq"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="map-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="m-collapse-box">
                            <div class="collapse-title">标题</div>
                            <div class="collapse-body">
                                <ul>
                                    <li>内容</li>
                                    <li>内容</li>
                                    <li>内容</li>
                                    <li>内容</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="m-collapse-box">
                            <div class="collapse-title">标题</div>
                            <div class="collapse-body">
                                <ul>
                                    <li>内容</li>
                                    <li>内容</li>
                                    <li>内容</li>
                                    <li>内容</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="m-collapse-box">
                            <div class="collapse-title">标题</div>
                            <div class="collapse-body">
                                <ul>
                                    <li>内容</li>
                                    <li>内容</li>
                                    <li>内容</li>
                                    <li>内容</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="m-collapse-box">
                            <div class="collapse-title">标题</div>
                            <div class="collapse-body">
                                <address>
                                    <p>地址</p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12">
                    <div class="text-center">
                        Copyright ©zodream.cn, All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/main.ts"></script>
</body>
</html>