@@ 首页metro模块
<div class="metro-box">
    <a href="" class="metro-item">
        <img src="../image/brand1.webp" alt="">
        <div class="metro-label">标签</div>
    </a>
    <a href="" class="metro-item">
        <img src="../image/brand3.webp" alt="">
        <div class="metro-label">标签</div>
    </a>
    <a href="" class="metro-item">
        <img src="../image/brand2.webp" alt="">
        <div class="metro-label">标签</div>
    </a>
    <a href="" class="metro-item">
        <img src="../image/brand1.webp" alt="">
        <div class="metro-label">标签</div>
    </a>
    <a href="" class="metro-item">
        <img src="../image/brand2.webp" alt="">
        <div class="metro-label">标签</div>
    </a>
    <a href="" class="metro-item">
        <img src="../image/brand4.webp" alt="">
        <div class="metro-label">标签</div>
    </a>
</div>